/* CSS Documentbackground: transparent url(../images/body_bg.png) center top repeat-x;*/

* {margin:0 auto; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;vertical-align:middle;}
ol,ul,ul li,li{list-style:none;}
a{outline:none;blr:expression(this.onFocus=this.blur());}
a{ color:#0c884a; text-decoration:none;}
a:hover{ text-decoration:underline;}
br{ display:inherit;line-height:10px;}
html{font-size:16px;}
body {margin:0px auto; color: #545454; background: #eaeade url(../images/body_bg.png) center -40px repeat; font-family: Microsoft YaHei;line-height:1.38em; }

#top {margin:0px auto; padding-top: 14px; background: transparent url(../images/body_top.png) center 0 repeat-x;}
#header{position:relative;width:940px;margin:0px auto; height:172px;}
#header .logo{ float:left;padding: 31px 0 26px 0; position:relative;}
#header .logo span {
	font-size:100%;
	line-height: 18px;
	color: #888;
	width: 300px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 25px;
	position: absolute;
	bottom:29px;
	left: 167px;
}
#header .navigation{ float:right; width:380px; text-align:right;}
#header .navigation .ttp{font-size:70%;line-height:26px; text-align:right;}
#header .navigation .ttp a{ color:#333}
#header .navigation ul{ margin-top:50px; float:right;width: 325px;}
#header .navigation ul li{ float:right;font-size: 14px;}
#header .navigation ul li a { color: #0b8749; font-weight: bold; margin-left: 8px; padding-right: 8px; font-size:16px; display: block; line-height: 22px; text-decoration:none;}
#header .navigation ul li:nth-child(2) a {background:url(../images/subnav_divider.gif) right no-repeat;}
#header .navigation ul li a.text_size{cursor:default;padding-right: 0px; color: #545454; text-decoration: none;background-image: none; font-weight: normal;}
#header .navigation ul li a.size{border: none; padding-right: 0px; background-image: none; font-weight: normal;}
#header .navigation ul li a.size.selected{text-decoration: underline;}
#header .navigation ul li a.txt_s{font-size: 82%;}
#header .navigation ul li a.txt_m{font-size: 100%;}
#header .navigation ul li a.txt_l{font-size: 115%;}
#header .navigation ul li a:hover{ text-decoration:underline;}
#header .navigation .site-search{ float:right; margin-top:18px;}
#header .navigation .site-search .search{height:23px; vertical-align:middle; width:166px; line-height:23px; font-size:82%; padding-left:6px; color:#666666; border:#dadada solid 1px;}

#header .nav{ float:left;}
#header .nav ul {z-index: 350; position: relative; width:940px;}
#header .nav ul li{ float:left; font-size:16px; text-align:center; position: relative;margin-right:2px;}
#header .nav ul li a{ color:#FFF;background: #45895b; display:inline-block; height: 36px; width: 133px;font-weight:bold; text-decoration:none; line-height:38px; overflow:hidden;}
#header .nav ul li a:hover{color:#FFF;background:#abc468;}
#header .nav ul li a.current{color:#FFF;background:#abc468;}
#header .nav ul .current a{color:#666666;background:#abc468;}
#header .nav ul .last_nav{}
#header .nav ul .last_nav a{position:absolute; display:inline-block;width:150px;height: 36px; background:url(../images/btn_arrow.png) no-repeat;}
#header .nav ul .last_nav a:hover{background:url(../images/btn_arrow.png) no-repeat;color:#FFF;}

#focus{margin:0px auto; width:940px; padding-top:30px; padding-bottom:37px; overflow:hidden;}

#info{ width:940px;position:relative;margin:0px auto; overflow:hidden;}
#info .infoleft{ float:left; width:700px; height:330px; overflow:hidden; }
#info .inforight{ float:right; width:220px; height:330px; overflow:hidden;background:#FFF;}
#info .info_nav{}
#info .info_nav ul{}
#info .info_nav ul li{ float:left; margin:10px 5px 5px 0; background:#61a536;}
#info .info_nav ul li a{ display:inline-block; padding:0 20px 0 20px; color:#FFF;  height:36px; line-height:38px; text-align:center; text-decoration:none;font-size:100%; font-weight:bold; overflow:hidden; font-family:'微软雅黑';}
#info .info_nav ul .current{margin:0 5px 0 0; background:#ffffff;}
#info .info_nav ul .current a{ height:51px; line-height:58px; color:#60a65e;}

#info .info_nav ul .find{background:#04662b;}
#info .info_nav ul .findcurrent{margin:0 5px 0 0; background:#ffffff;}
#info .info_nav ul .findcurrent a{ height:51px; line-height:58px; color:#04662b;}

#info .info_content{ width:700px; height:300px; overflow:hidden; background:#FFF; position:relative;}
#info .info_content .newsrelease{ padding-top:20px;}
#info .info_content .projectstory{ padding-top:20px;}
.bd{}
.bd .gengduo{ position:absolute; font-size:12px; right:20px; top:6px;}
.bd ul{}
.bd ul li p{ float:left; width:152px; overflow:hidden; line-height:140%;}
.bd ul li p font{color:#f26e23;font-size:100%;}
.bd ul li p .font1{color:#f26e23;font-size:100%; text-decoration:none;}
.bd ul li p .font1:hover{text-decoration:underline;}
.bd ul li{ float:left;text-align:left;  width:150px; height:213px; overflow:hidden; padding:0 10px 0 10px;font-size:84%; }
.bd ul li img{float:left;  width:150px; height:100px; margin:10px 0 10px 0;}
.bd ul li span{ float:left; width:150px; overflow:hidden; color:#666666; line-height:140%;}
.bd ul li .more{ float:left; color:#61a536; text-decoration:none; padding-right:10px;background:url(../images/more.gif) right no-repeat; line-height:200%;}
.bd ul li .more:hover{ text-decoration:underline;}

.dot{text-align:center;overflow:hidden;}
.hd{ overflow:hidden;height:30px; padding:5px;display:inline-block; width:700px;}
.hd ul{ overflow:hidden; margin-top:3px;display:inline-block; *display:inline; zoom:1;}
.hd ul li{position:relative; float:left; width: 15px; height:15px; overflow:hidden; background:url(../images/dot_gray.png) no-repeat; margin:5px; text-indent:-999px; cursor:pointer;}
.hd ul li.on{background:url(../images/dot.png) no-repeat;}

#info .info_content .webspecial{ padding-top:20px;}

.scroll-pane{width:700px;height:260px;overflow:auto;}
#info .info_content .activity{ padding-top:20px;}


#medias{ width:940px;height: 400px;padding-top:0px;position:relative;margin:0px auto; overflow:hidden;}
#medias .left{ float:left; width:280px; vertical-align:top;}
#medias .right{ width:660px; overflow:hidden;margin: 0px;}
#medias .right .media_nav{}
#medias .right .media_nav ul{}
#medias .right .media_nav ul li{background: url("../images/medias_video.png") 0px no-repeat;color: white;}
#medias .right .media_nav ul li a{ display:inline-block; padding:0 18px 0 18px; color:#FFF;  height:32px; line-height:32px; text-align:center; text-decoration:none;font-size:100%; font-weight:bold; overflow:hidden; font-family:'微软雅黑';}
#medias .right .media_nav ul .current{margin:0 6px 0 0; background:#ffffff;}
#medias .right .media_nav ul .current a{ height:46px; line-height:50px; color:#630235;}
#medias .right .media_content{ width:670px; overflow:hidden; background:#FFF;position: relative;top: -12px;}
#medias .right .media_content .videos{ padding:10px; width:650px; height:303px; overflow:hidden;}
#medias .right .media_content .videostitle{ float:left;width:670px; height:38px; background:#630235; overflow:hidden;}
#medias .right .media_content .videostitle span{ color:#FFF;font-size:120%; font-weight:bold; line-height:38px; padding-left:10px;}

.mediaphoto { position:relative; width:670px; overflow:hidden; background:#FFF;}
.mediaphoto .prev,.mediaphoto .next { position:absolute;width:25px; height:313px;
	top:0;overflow:hidden; z-index:1;}
.mediaphoto .prev { left:0px; background:url(../images/left_t.png) no-repeat center #FFF; cursor:pointer;}
.mediaphoto .next { right:0px;background:url(../images/right_t.png) no-repeat center #FFF; cursor:pointer;}
.mediaphoto-list { position:relative; width:670px;overflow:hidden;margin: 0px;}
.mediaphoto-list ul { width:9999px;}
.mediaphoto-list li { float:left; width:670px;cursor: pointer}
.mediaphoto-list li img{     width: 660px;height: 345px;}

.mediaphoto-list li .phototitle{
	float: left;
	width: 670px;
	height: 38px;
	overflow: hidden;
	position: relative;
	top: -87px;
	padding-left: 31px;
}
.mediaphoto-list li .phototitle span{ float:left;color:#FFF;font-size:120%; font-weight:bold; line-height:38px; padding-left:10px;}
.mediaphoto-list li .phototitle .more{ float:right;color:#FFF;font-size:83%; padding-right:10px; background:url(../images/more1.gif) right center no-repeat; text-decoration:none;font-weight:bold; margin:10px 10px;}
.mediaphoto-list li .phototitle .more:hover{text-decoration:underline;}

.footer_bg{  margin-top:25px;}
#bottom{ width:920px; padding-top:55px; overflow:hidden;}
#bottom .dh{ float:left; width:920px; overflow:hidden;}
#bottom .dh li{ float:left; width:100px;}
#bottom .dh li h4{ color:#6a6a6a; font-size:100%;}
#bottom .dh li ul{ margin-top:5px;}
#bottom .dh li ul li{ float:none; font-size:82%; height:20px; line-height:20px;}
#bottom .dh li ul li a{ text-decoration:none;color:#6a6a6a;}
#bottom .dh li ul li a:hover{ text-decoration:underline;}
#bottom .site1{ float:left; width:920px; overflow:hidden;}
#bottom .site1 li{ float:left; padding-top:20px; padding-bottom:20px;}
#bottom .site1 li a { color: #545454; font-weight: bold; margin-left: 8px; padding-right: 8px; font-size:82%; line-height: 16px; background:url(../images/subnav_divider.gif) right no-repeat; text-decoration:none;}

#bottom .copyright{ float:left; width:920px; height:100px; overflow:hidden; font-size:80%; line-height:15px; background:url(../images/logo.png) bottom right no-repeat;}
#bottom .copyright p{ padding-top:15px;}

#foot{ padding-top:34px; background: url(../images/body_bottom.jpg) center bottom repeat-x #FFF;}


#fixed{display:inline-block;width:50px; height:320px; /*background:#4aa92b;*/text-align:center; padding-top:15px;background:#efefef; overflow:hidden;}
#fixed a{ display:inline-block; text-align:center;}
#fixed .xlwb{ background:url(../images/xlwb.png) center no-repeat; width:50px; height:27px; padding-top:18px;}
#fixed .xlwb:hover{ background:url(../images/xlwb.png) center no-repeat #fff;}
#fixed .txwb{ background:url(../images/txwb.png) center no-repeat; width:50px; height:33px; padding-top:18px;}
#fixed .txwb:hover{ background:url(../images/txwb.png) center no-repeat #fff;}
#fixed .wybk{ background:url(../images/wybk.png) center no-repeat; width:50px; height:37px; padding-top:18px;}
#fixed .wybk:hover{ background:url(../images/wybk.png) center no-repeat #fff;}
#fixed .shbk{ background:url(../images/shbk.png) center no-repeat; width:50px; height:16px; padding-top:18px;}
#fixed .shbk:hover{ background:url(../images/shbk.png) center no-repeat #fff;}
#fixed .qqkj{ background:url(../images/qqkj.png) center no-repeat; width:50px; height:33px; padding-top:18px;}
#fixed .qqkj:hover{ background:url(../images/qqkj.png) center no-repeat #fff;}
#fixed .kxw{ background:url(../images/kxw.png) center no-repeat; width:50px; height:31px; padding-top:18px;}
#fixed .kxw:hover{ background:url(../images/kxw.png) center no-repeat #fff;}


#dh{ width:940px; height:45px; padding-left:20px;margin:0px auto;font-family:'微软雅黑';font-size:80%; overflow:hidden; overflow:hidden;}
#dh img{ margin-bottom:6px;_margin-bottom:0px;*margin-bottom:0px;}
#dh{ font-weight:bold; color:#666666; text-decoration:none; line-height:45px;}
#dh a{color:#666666;}
#dh p{ _margin-top:15px;}

#info .aboutleft{ float:left; width:220px;}
#info .aboutleft .aboutleft1{ float:left; padding-top:20px; margin-bottom:20px; background:url(../images/aboutleftbg.jpg) top center no-repeat #FFF; border-bottom:#d5d5c9 solid 2px; overflow:hidden;}
#info .aboutleft .aboutleft2{ float:left; padding-top:10px; background:url(../images/aboutleftbg1.jpg) top center no-repeat #FFF; border-bottom:#d5d5c9 solid 2px; overflow:hidden;}
#info .aboutleft h3{padding:10px 0 0 15px;}
#info .aboutleft .ul1{ padding-left:15px; padding-right:15px;  padding-bottom:10px;}
#info .aboutleft .ul1 li{line-height:28px; width:190px; border-top:#f5f6ee solid 2px;font-family:'微软雅黑';}
#info .aboutleft .ul1 li a{ display:block; padding-left:18px; background:url(../images/close1.gif) 5px center no-repeat; color:#0b8749;font-size:80%; font-weight:bold; text-decoration:none;}
#info .aboutleft .ul1 li a:hover{ text-decoration:underline;}

#info .aboutleft .ul1 .openli{border-bottom:none;}
#info .aboutleft .ul1 .openli a{ display:block; padding-left:18px; background:url(../images/open.gif) 5px center no-repeat #f5f6ee; color:#666666;font-size:82%; font-weight:bold; text-decoration:none;}
#info .aboutleft .ul1 .openli a:hover{ text-decoration:underline;}
#info .aboutleft .ul1 .openli ul{}
#info .aboutleft .ul1 .openli ul li{border-top:none;}
#info .aboutleft .ul1 .openli ul li a{padding-left:28px;background:url(../images/close.gif) 15px center no-repeat; font-weight:normal;}
#info .aboutright{ float:right; width:700px; background:#FFF;border-bottom:#d5d5c9 solid 2px;}
#info .aboutright .detail{ display:inline-block;  padding:0px 20px 40px 20px;}
#info .aboutright .detail .abouttitle{ font-size:155%; line-height:120%; color:#61a433; font-family:'微软雅黑'; padding-bottom:20px;}
#info .aboutright .detail .abouttitle1{width:660px; overflow:hidden;padding-bottom:20px; line-height:120%;}
#info .aboutright .detail .abouttitle2{ float:left;font-size:155%; line-height:120%; color:#61a433; font-family:'微软雅黑';}
#info .aboutright .detail .abouttitle3{ float:right; margin-top:10px; color:#999;font-size:12px;}
#info .aboutright .detail .abouttitle3 span{ vertical-align:middle;}
#info .aboutright .detail .secbanner{ width:660px; overflow:hidden;}
#info .aboutright .detail .secbanner .secleft{ float:left; width:260px; height:288px; font-family:'微软雅黑';}
#info .aboutright .detail .secbanner .sec1{background:url(../images/secbanner.gif) no-repeat;}
#info .aboutright .detail .secbanner .sec2{background:url(../images/secbanner1.gif) no-repeat;}
#info .aboutright .detail .secbanner .sec3{background:url(../images/secbanner2.gif) no-repeat;}
#info .aboutright .detail .secbanner .secright{ float:right; width:400px; height:288px;}
#info .aboutright .detail .secbanner .secright img{cursor:pointer;}
#info .aboutright .detail .secbanner .secleft h1{ font-size: 250%; line-height: 95%; margin: 20px 0 10px 20px; color:#FFF;}
#info .aboutright .detail .secbanner .secleft p { font-size:85%;line-height: 122%; margin:0 20px 20px 20px; color:#FFF; font-weight:bold;}
#info .aboutright .detail .cbw{ float:left; padding-top:20px; padding-bottom:0px;}
#info .aboutright .detail .cbw ul li{ float:left; width:200px; padding:10px;}
#info .aboutright .detail .cbw ul li a{color:#088948; text-decoration:none; line-height:34px;}
#info .aboutright .detail .cbw ul li a:hover{ text-decoration:underline;}
#info .aboutright .detail .cbw ul li h2{ font-size:100%;}
#info .aboutright .detail .cbw ul li p{font-size:83%;}

.top_btn{width:940px;margin:0px auto; overflow:hidden; padding-top:12px;}
.top_btn a{ float:right;color:#0c884a; font-size:12px; text-decoration: none; padding-right: 22px; background-image: url(../images/btn_backtop.png); background-repeat: no-repeat; background-position: right -2px; padding-top:1px;}
.top_btn a:hover{color: #f16e22; background-position: right -28px;}


#info .aboutright .detail .list1{ padding-bottom:40px; float:left; width:660px;  border-top:#f26f21 solid 2px; border-bottom:#f26f21 solid 2px; }
#info .aboutright .detail .list1 ul li{ float:left; width:140px; height:196px; border:#cccccc solid 1px; background:#f6f6f6; margin:30px 25px 0px 25px; padding:10px 14px 0px 14px; _margin-left:15px;}
#info .aboutright .detail .list1 ul li img{ width:140px; height:133px;}
#info .aboutright .detail .list1 ul li p{ font-size:84%; line-height:18px; padding-top:6px;}
#info .aboutright .detail .select{color:#545454;font-size:82%; font-weight:bold; font-family:'微软雅黑'; padding-bottom:6px;}
#info .aboutright .detail .select select{}
#info .aboutright .detail .list2{ float:left; padding-bottom:20px;}
#info .aboutright .detail .fujian{ float:left;width:660px; padding-bottom:10px; padding-top:10px; overflow:hidden;}
#info .aboutright .detail .fujian p b{ font-size:13px;}
#info .aboutright .detail .fujian ul li{ font-size:84%; line-height:18px; }
#info .aboutright .detail .fujian ul li a{vertical-align:middle;}
#info .aboutright .detail .list2 .title{width:660px; height:24px; background:#e9e8e4; border-top:#999999 solid 2px;}
#info .aboutright .detail .list2 .title dd{ float:left; font-size:84%;}
#info .aboutright .detail .list2 .title .dd1{ width:540px; padding-left:5px;}
#info .aboutright .detail .list2 .title .dd2{}
#info .aboutright .detail .list2 .title .dd3{ width:100px;}
#info .aboutright .detail .list2 ul{ float:left; background:url(../images/ulbg.jpg);}
#info .aboutright .detail .list2 ul li{ float:left; width:660px; font-size:84%; height:35px; line-height:35px; }

#info .aboutright .detail .list2 ul li font{ padding-left:5px;}
#info .aboutright .detail .list2 ul li a{ color:#0c884a; text-decoration:none; float:left;}
#info .aboutright .detail .list2 ul li a:hover{ text-decoration:underline;}
#info .aboutright .detail .list2 ul li p{ float:right; width:120px; font-size:100%;line-height:32px;}
#info .aboutright .detail .list2 ul li p .date{ width:90px; float:left;font-size:102%;}
#info .aboutright .detail .list2 ul li p .size{ float:left;}

#info .aboutright .detail .list3{ float:left; padding-bottom:20px;}
#info .aboutright .detail .list3 .title{width:660px; height:24px; background:#e9e8e4; border-top:#999999 solid 2px;}
#info .aboutright .detail .list3 .title dd{ float:left; font-size:84%;}
#info .aboutright .detail .list3 .title .dd1{ width:470px; padding-left:5px;}
#info .aboutright .detail .list3 .title .dd2{}
#info .aboutright .detail .list3 .title .dd3{ width:100px;}
#info .aboutright .detail .list3 ul{ float:left; background:url(../images/ulbg.jpg);}
#info .aboutright .detail .list3 ul li{ float:left; width:660px; font-size:84%; height:35px; line-height:35px; }

#info .aboutright .detail .list3 ul li font{ padding-left:5px; float:left; font-size:100%;}
#info .aboutright .detail .list3 ul li a{ color:#0c884a; text-decoration:none;}
#info .aboutright .detail .list3 ul li a:hover{ text-decoration:underline;}
#info .aboutright .detail .list3 ul li p{ float:right; width:188px; font-size:100%;line-height:32px;}
#info .aboutright .detail .list3 ul li p .date{ width:90px; float:left;font-size:102%;}
#info .aboutright .detail .list3 ul li p .size{ float:left;}
#info .aboutright .detail .ndcy{ float:left; margin-top:20px; width:100%; padding-top:5px; padding-bottom:10px; border-top:#f26e23 solid 2px;}
#info .aboutright .detail .ndcy ul li{ float:left; width:200px; padding:10px;font-size:82%;line-height:18px; overflow:hidden;}
#info .aboutright .detail .ndcy ul li a{color:#088948;width:200px; display:inline-block; text-decoration:none; }
#info .aboutright .detail .ndcy ul li a img{ padding-bottom:5px; width:200px; height:140px;}
#info .aboutright .detail .ndcy ul li a:hover{ text-decoration:underline;}
#info .aboutright .detail .ndcy ul li p{}

#info .aboutright .detail .wmdgz{ float:left; margin-top:15px; padding-top:5px;}
#info .aboutright .detail .wmdgz .title{border-bottom:#f26e23 solid 2px; font-size:84%; font-weight:bold;}
#info .aboutright .detail .wmdgz ul{ padding-top:5px;}
#info .aboutright .detail .wmdgz ul li{ float:left; width:200px; padding:10px;font-size:84%;line-height:18px; overflow:hidden;}
#info .aboutright .detail .wmdgz ul li a{color:#088948; text-decoration:none; }
#info .aboutright .detail .wmdgz ul li a img{ padding-bottom:5px; width:200px; height:140px;}
#info .aboutright .detail .wmdgz ul li a:hover{ text-decoration:underline;}
#info .aboutright .detail .wmdgz ul li p{font-size:13px;padding-top:5px;}

#info .aboutright .detail .jjjy{ float:left; margin-top:10px; padding-bottom:20px; }
#info .aboutright .detail .jjjy .ndhb{ padding-top:15px;}
#info .aboutright .detail .jjjy .ndhb li{font-size:82%; line-height:20px;}
#info .aboutright .detail .jjjy .ndhb li a{ color:#088948; text-decoration:none; padding-left:12px; background:url(../images/sj.gif) 2px center no-repeat;}
#info .aboutright .detail .jjjy .ndhb li a:hover{ text-decoration:underline;}
#info .aboutright .detail .jjjy .nf{ float:left; margin-top:10px; padding-top:5px; width:660px;}
#info .aboutright .detail .jjjy .nf .title{border-bottom:#f26e23 solid 2px; font-size:82%;float:left; width:660px; overflow:hidden;}
#info .aboutright .detail .jjjy .nf .title font{ float:left; font-weight:bold; font-size:13px;}
#info .aboutright .detail .jjjy .nf .title a{ float:right; color:#999;}
#info .aboutright .detail .jjjy .nf .title a:hover{ text-decoration:underline;}
#info .aboutright .detail .jjjy .nf ul li{ float:left; width:200px; height:205px; padding:10px; padding-top:12px;font-size:82%; overflow:hidden;}
#info .aboutright .detail .jjjy .nf ul li a{color:#088948; text-decoration:none; display:inline-block;}
#info .aboutright .detail .jjjy .nf ul li a img{ padding-bottom:12px; width:200px; height:140px;}
#info .aboutright .detail .jjjy .nf ul li a:hover{ text-decoration:underline;}

#info .aboutright .detail p{ font-size:84%; line-height:20px;}
#info .aboutright .detail .content{font-size:84%; line-height:140%;}
#info .aboutright .detail .content p{font-size:100%; line-height:140%;}
#info .aboutright .detail .ydgd{ text-align:right; width:660px;font-size:82%; float:right;}
#info .aboutright .detail .ydgd a{ color:#088948; text-decoration:none; padding-left:12px; background:url(../images/sj.gif) 2px center no-repeat;}
#info .aboutright .detail .ydgd a:hover{ text-decoration:underline;}
#info .gjc{ width:660px; float:left;font-size:83%; margin-top:20px;}
#info .gjc a{ color:#088948; text-decoration:none;}
#info .gjc a:hover{ text-decoration:underline;}

#info .aboutright .detail .xmgs{ float:left; margin-top:10px; padding-bottom:20px; }
#info .aboutright .detail .xmgs ul li{ float:left; width:660px; padding:25px 0px 25px 0px; border-bottom:#cccccc solid 1px;}
#info .aboutright .detail .xmgs ul li img{ float:left; width:200px; height:133px;}
#info .aboutright .detail .xmgs ul li .xx{ float:right; width:450px;font-size:85%;}
#info .aboutright .detail .xmgs ul li .xx1{font-size:85%;}
#info .aboutright .detail .xmgs ul li .xx1 .title{ float:left; width:660px;color:#61a433; text-decoration:none; font-weight:bold; overflow:hidden;}
#info .aboutright .detail .xmgs ul li .xx1 .title:hover{ text-decoration:underline;}
#info .aboutright .detail .xmgs ul li .xx1 p{ float:left; padding-top:10px;font-size:85%; line-height:20px;}
#info .aboutright .detail .xmgs ul li .xx1 p a{color:#63a738; text-decoration:none;}
#info .aboutright .detail .xmgs ul li .xx1 p a:hover{ text-decoration:underline;}

#info .aboutright .detail .xmgs ul li .xx .title{ float:left;width:450px; color:#61a433;text-decoration:none; font-weight:bold; overflow:hidden;}
#info .aboutright .detail .xmgs ul li .xx .title:hover{ text-decoration:underline;}
#info .aboutright .detail .xmgs ul li .xx p{ float:left; padding-top:13px;font-size:85%; line-height:20px;}
#info .aboutright .detail .xmgs ul li .xx p a{color:#63a738; text-decoration:none;}
#info .aboutright .detail .xmgs ul li .xx p a:hover{ text-decoration:underline;}

#info .aboutright .detail .xmgs1{ float:left; margin-top:10px; padding-bottom:20px; }
#info .aboutright .detail .xmgs1 ul li{ float:left; width:660px; padding:15px 0px 15px 0px; border-bottom:#cccccc solid 1px;}
#info .aboutright .detail .xmgs1 ul li .xx{font-size:85%;}
#info .aboutright .detail .xmgs1 ul li .xx .title{ float:left; width:660px; text-decoration:none; font-weight:bold; overflow:hidden;}
#info .aboutright .detail .xmgs1 ul li .xx .title:hover{ text-decoration:underline;}
#info .aboutright .detail .xmgs1 ul li .xx p{ float:left; padding-top:10px;font-size:85%; line-height:20px;}
#info .aboutright .detail .xmgs1 ul li .xx p a{color:#63a738; text-decoration:none;}
#info .aboutright .detail .xmgs1 ul li .xx p a:hover{ text-decoration:underline;}

#info .aboutright .detail .newsyear{padding-top:8px;}
#info .aboutright .detail .newslist{ float:left;width:660px; margin-top:4px; border-top:#f26e23 solid 2px; border-bottom:#f26e23 solid 2px;}
#info .aboutright .detail .newslist ul{ padding-top:5px; padding-bottom:15px;}
#info .aboutright .detail .newslist ul li{ display:inline-block; width:660px; color:#666666; border-bottom:#eeeeee solid 1px; font-size:85%;  vertical-align:top; padding:8px 0px 8px 0px;}

#info .aboutright .detail .newslist ul li .date{ float:left; width:80px;line-height:18px;}
#info .aboutright .detail .newslist ul li p{ float:right; width:580px;line-height:18px; font-size:82%;}
#info .aboutright .detail .newslist ul li p a{ color:#0c884a; text-decoration:none;font-size:120%;}
#info .aboutright .detail .newslist ul li p a:hover{ text-decoration:underline;}

#info .aboutright .detail .fazhan{ float:left;width:660px;}

#info .faq{ float:left; width:900px; padding:0px 20px 60px 20px; background:#FFF;}
#info .faq .kxly{float:left; border-bottom:#dadada solid 1px;border-top:#e0e0e0 solid 1px;}
#info .faq h2{ float:left; width:900px;line-height:30px; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#128649;}
#info .faq .abouttitle1{width:900px;line-height:30px; overflow:hidden; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#128649;}
#info .faq .abouttitle2{ float:left;font-size:155%; line-height:120%; color:#128649; font-family:'微软雅黑';}
#info .faq .abouttitle3{ float:right; margin-top:10px; color:#999;font-size:83%;}
#info .faq .abouttitle3 span{ vertical-align:middle;}
#info .faq h3{ float:left; width:900px;line-height:24px; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#128649;border-bottom:#e0e0e0 solid 1px;}
#info .faq .FAQul{ float:left; overflow:hidden; width:900px; padding-bottom:15px;border-bottom:#f26e23 solid 2px; margin-bottom:5px; }
#info .faq .FAQul li{border-top:#e0e0e0 solid 1px; padding-top:15px; padding-bottom:15px;}
#info .faq .FAQul li .p1{color:#45895b; font-size:96%; padding-left:25px; background:url(../images/wen.jpg) left top no-repeat;}
#info .faq .FAQul li .p2{ color:#666666; line-height:20px; padding-top:13px; font-size:83%; padding-left:25px; background:url(../images/da.jpg) left 12px no-repeat;}

.pages{width:100%; overflow:hidden;}
.pages ul{ float:right; color:#676767;}
.pages li{ float:left; display:inline-block; padding:2px;font-size:80%; font-family:'微软雅黑';}
.pages li a{ color:#009933;  text-decoration:none;}
.pages li a:hover{ text-decoration:underline;}


#info .aboutright .detail .jiangxiang{}
#info .aboutright .detail .jiangxiang .subheader_green{ color: #61a434;  margin-bottom: 5px; padding-bottom: 5px; border-bottom: 2px solid #F16E22; font-weight: bold;}
#info .aboutright .detail .jiangxiang .subheader_green font{font-size:138%;}
#info .aboutright .detail .jiangxiang ul{ padding-left:15px; padding-bottom:10px;}
#info .aboutright .detail .jiangxiang ul li{ font-size:83%; list-style:disc;}

#info .aboutright .detail .job{ float:left; margin-top:20px; padding-bottom:60px;}
#info .aboutright .detail .job .title{width:660px; height:25px; line-height:25px; background:#e9e8e4; border-top:#ff6633 solid 2px;}
#info .aboutright .detail .job .title dd{ float:left; font-size:84%;}
#info .aboutright .detail .job .title .dd1{ width:470px; padding-left:5px;}
#info .aboutright .detail .job ul{ float:left; width:660px; padding-bottom:30px; padding-top:10px;}
#info .aboutright .detail .job ul li{ font-size:84%; height:30px; line-height:30px;}
#info .aboutright .detail .job ul li .date{ float:right; width:185px; font-size:100%;line-height:30px;}
#info .aboutright .detail .jobtitle{ float:left; width:660px; text-align:center; font-size:130%;color:#61a433; font-weight:bold; border-bottom:#ff6633 solid 2px; line-height:32px; margin-bottom:10px;}
#info .aboutright .detail .jobus{float:left; width:628px; padding:15px; margin-top:40px; border:#cccccc solid 1px; background:#f6f6f6;}

#info .search{ float:left; width:900px; padding:0px 20px 60px 20px; background:#FFF;}
#info .search h2{ float:left; width:900px;line-height:30px; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#128649;}
#info .search h3{ float:left; width:900px;line-height:24px; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#128649;border-bottom:#e0e0e0 solid 1px;}
#info .search ul li{ font-size:84%; line-height:120%;}

#info .sitemap{ float:left; width:900px; padding:0px 20px 60px 20px; background:#FFF;}
#info .sitemap h2{ float:left; width:900px;line-height:30px; padding-bottom:8px; font-family:'微软雅黑'; font-weight:bold; color:#45895b;}
#info .sitemap table{ margin-bottom:20px;}
#info .sitemap p{ font-size:84%; padding-left:18px; margin-left:20px; background:url(../images/c1.png) left center no-repeat;}
#info .sitemap ul{}
#info .sitemap ul li{font-size:84%; line-height:180%; padding-left:40px;}
#info .sitemap ul li a{ padding-left:12px; background:url(../images/cc1.png) left center no-repeat; text-decoration:none;}
#info .sitemap ul li a:hover{ text-decoration:underline;}
#info .sitemap ul li .smallul{padding-left:0px;}
#info .sitemap ul li .smallul li{padding-left:15px;}
#info .sitemap ul li .smallul a{ padding-left:12px; background:url(../images/cc2.png) left center no-repeat; text-decoration:none;}




#register-form{
	margin-top: 55px;
	margin-left: 300px;
}

#register-form div{
	margin-top:10px;
}
#register-form div label{
	position: absolute;
	left: 220px;
}
#register-form div input{
	width: 220px;
}
#register-form div label,#register-form div input{
	line-height: 26px;
}

#profile{
	position: absolute;
	right: -105px;
	background-color: rgb(97, 165, 52);
	text-align: left;
	height: 80px;
	width: 240px;
	box-shadow: 1px 2px green;
	color: white;
	top: 80px;
	border-radius: 10px;
	z-index: 1000;
}
#news{
	width: 940px;
}
#news .head{
	margin-bottom: 10px;
}
#news .head div{
	height: 28px;
}
.head .area-1{
	background: url("../images/news_yellow_arrow.png") 77px no-repeat;
}
.head .area-2{
	background: url("../images/news_blue_arrow.png") 0px no-repeat;
}

.head .area-2 span{
	color: white;
	line-height: 28px;
	margin-left: 34px;
}

#news .content-ul li div{
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
}
#news h3{
	margin-bottom: 30px;
	font-size: 16px;
	height: 20px;
}

#news .news-left,#news .news-right{
	float: left;
}
#news .news-right{
	width: 336px;
	margin-left: 40px;
	font-weight:bold;
	font-size: 13px;
	color: black;
}
#news .news-right .head a{
	color: white;
	text-decoration: none;
}
#news .news-right table{
	width: 336px;
	height:290px;
}
#news .news-right td{
	height: 40px;
	border: none;
	border-bottom: 1px dashed gray;
	padding-left: 10px;
}
#news .news-right .content{

}
#news .news-right .content span{
	float: right;
}

#news .news-right .head{
	height: 40px;
	background: url("../images/news_head_top.png") 0px 27px no-repeat;
}

#news .news-right .footer{
	height: 40px;
	background: url("../images/news_head_footer.png") 0px 25px no-repeat;
}
#news .news-right .head .head2{
	background: url("../images/revent_news.png") no-repeat;

}

#news .news-right .head .head1{
	background: url("../images/activity_review.png") no-repeat;
	margin-right: 20px;
}

#news .news-right .head .head1,#news .news-right .head .head2{
	padding-top: 4px;
	width: 84px;
	float: right;
	color: white;
	text-align: center;
	cursor: pointer;
}

#news .footer{
	text-align: right;
}

#news .footer a{
	color: #abc468;
	margin-right: 30px;
	margin-top: 12px;
	display: block;
}
#news-info-ul li{
	cursor: pointer;
}
.medias_nav{
	position: relative;
	z-index: 100;
	height: 29px;
}
.medias_nav ul>li{
	float: left;
	text-align: center;
	cursor: pointer;
}
.medias_nav ul>li a{
	color: white;
	display: inline-block;
	line-height: 29px;
}
.medias_nav .video{
	background: url("../images/medias_video.png") 0px no-repeat;
	width: 107px;
	margin-right: 15px;
}
.medias_nav .video_active{
	background: url("../images/news_blue_arrow.png") 0px no-repeat;
	width: 107px;
	margin-right: 15px;
}
.medias_nav .image{
	background: url("../images/medias_image.png") 0px no-repeat;
	width: 123px;

}
.medias_nav .image_active{
	background: url("../images/news_blue_arrow.png") 0px no-repeat;
	width: 123px;
}
.video-tittle{
	position: relative;
	top: -140px;
	color: white;
	left: 50px;
	font-size: 24px;
}
.photo-tittle{
	position: relative;
	top: -140px;
	color: white;
	left: 50px;
	font-size: 24px;
}
#sua{
	background: url("../images/sua_bg.png");
}

#sua .head{
	position: relative;
	top: -18px;
}

#sua .finish-percent{
	background: url("../images/sua_finish_percent_bg.png") 0px no-repeat;
	position: absolute;
	top: 50px;
	height: 45px;
	width: 292px;
	margin: 0;
	vertical-align: middle;
	font-size: 25px;
	color: #45895b;
	line-height: 45px;
	padding-left: 30px;
}
#sua .tittle{
	position: absolute;
	top: 265px;
	padding-left: 20px;
}

#sua .lets-go{
	background: url("../images/sua_launch.png") no-repeat;
	width: 172px;
	height: 40px;
	margin: 0px 0px;
	position: relative;
	line-height: 40px;
	top: -30px;
	right: -765px;
	color: white;
	padding-left: 25px;
	cursor: pointer;
}

#lyhp .lyhp-content li{
	width: 235px;
	float:left;
}
#lyhp .describe{
	font-size: 14px;
}
#lyhp .tittle{
	color:  #45895b;
}
#lyhp .head{
	background: url("../images/lyhp_head_bg.png") 0px 40px no-repeat;
	height: 60px;
}
#lyhp .footer{
	background: url("../images/lyhp_footrt_bg.png") 0px no-repeat;
}
#lyhp .head .area-1{
	width: 400px;
	display: inline-block;
}
#lyhp .head .moore-goods{
	width: 200px;
	text-align: right;
	display: inline-block;
	float: right;
	color: #0b8749;
	cursor: pointer;
}

#lyhp .content{
	height: 540px;
}
#xdts{
	background: url("../images/xdts_bg.png") 0px;
	height: 580px;
}
#xdts ul>li{
	width: 188px;
	float: left;
}
#xdts .head{
	position: relative;
	top: -15px;
}

#xdts .content p{
	text-align: center;
	color: rgb(11, 135, 73);
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 22px;
}

.container{
	width: 940px;
	margin: auto;
}

.container .head{
	margin-top:30px;
	margin-bottom:30px;
}

.container .left,.container .right{
	margin: 0px;
	float: left;
}
.container .left{
	width: 200px;

}
.container .left li{
	background: url("../images/about_eepau/left_menu_yellow_bg.png") 0px no-repeat;
	color: #fff;
	height: 36px;
	line-height: 36px;
	margin-top: 5px;
	padding-left: 20px;
	cursor: pointer;
}
.container .left li.active{
	background: url("../images/about_eepau/left_menu_arrow_bg.png") 0px no-repeat;
}

.container .right{
	width: 740px;
	background:url("../images/about_eepau/sx.png") 0px repeat-y;
	margin-bottom: 80px;
}
.container .right .content{
	padding-left: 20px;
	word-break: break-all;
	word-wrap: break-word;
}

.container .avator,.container .detail{
	float: left;
	margin-bottom: 20px;
}
.container .right .content .single-info{
	margin: 20px;
	width: 44%;
	float: left;
}
.container .right .content .avator{
	width: 100%;
	position: relative;
}
.container .right .content .detail{
	width: 100%;
}
.detail p{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
.avator>p{
	width: 100px;
	position: absolute;
	left: 200px;
	top: 145px;
	font-weight: bold;
	font-size: 25px;
}

.page{
	height: 35px;
	margin-top: 20px;
}

.page li {
	background-color: #fff;
	border: 1px solid #e2e2e2;
	float: left;
	margin: 2px;
	text-align: center;
	width: 25px;
}
.page li.sx{
	border: 1px solid #e2e2e2;
	border-right: none;
	width: 1px;
	height: 22px;
}
.page li a{
	text-decoration: none;
	display: block;
	color: black;
}

.page li a.current,.page li a:hover{
	background-color: #579f23;
	color: #fff;
}
.page .prev, .page .next{
	width: 75px;
}


.container .center{
	width: 680px;
	margin: auto;
}
.center .single-info{
	position: relative;
}
.center .single-info p {
	color: #fff;
	font-size: 24px;
	opacity: 0.8;
	padding-left: 30px;
	position: absolute;
	top: 210px;
	z-index: 100;
}
.center .single-info .hx  {
	margin: 10px 0px 10px 0px;
}

#news-carousel{
	width: 600px;
	margin: 0px;
	float: left;
}

#news-carousel .tittle{
	position: absolute;
	top: 248px;
	color: #fff;
	padding-left: 20px;
	height: 40px;
	z-index: 100;
	border-bottom: 15px solid black;
	width: 100%;
}


#news-carousel .tittle span{
	text-align: center;
	float: left;
	margin-top: 12px;
}
#news-carousel .tittle span:nth-child(1){
	width: 45px;
	background-color: #e74866;
	margin-right: 12px;
	border-top: 1px solid #a1374d;
	border-bottom: 1px solid #a1374d;
	display: block;
}
#news-carousel .shade{
	height: 42px;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 255px;
	opacity: 0.6;
}

#news-carousel .hd{
	position: relative;
	top: -30px;
	z-index: 1000;
}

#news-page .head .sx{
	width: 60px;
	float: left;
	background: transparent url("../images/news/sx.png") 30px repeat-y;
	height: 300px;
}

#news-page .advertise{
	width: 280px;
	float: left;
	overflow: hidden;
}

#news-page .advertise div{
	margin-bottom: 30px;
}

#news-page.head .hx{
	background: url("../images/news/hx_small.png") no-repeat;
	width: 590px;
	height: 1px;
	float: left;
	margin-top: -28px;
}

#news-page .avator{
	max-width: 200px;
	width: 200px;
}
#news-info .content{
	max-width: 720px;
	width: 720px;
	float: left;
	margin-left: 20px;
}

#news-info p{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
}

#news-info div{
	margin-bottom: 8px;
	font-size: 14px;
	width: 100%;
}
#news-info .detail{
	height: 60px;
}

#news-info span{
	font-size: 12px;
}
#news-info .hx{
	background: url("../images/news/hx_large.png") 0px repeat-x;
	width: 100%;
	float: left;
	height: 2px;
}


#news-page .head .hx {
	height: 20px;
	margin: 0;
	position: relative;
	top: 300px;
	width: 590px;
	background: url("../images/news/hx_small.png") 0px 16px no-repeat;
}


.carousel-advertise>div{
	float: left;
	margin: 0px;
}

.carousel-advertise>div:nth-child(1){
	width: 600px;
	height: 320px;
}

.carousel-advertise>div:nth-child(2){
	width: 60px;
	background: url("../images/activity/sx.png") 30px no-repeat;
}

.carousel-advertise>div:nth-child(3){
	width: 280px;
}
.carousel-advertise>div:nth-child(3) div{
	margin-bottom: 20px;
}
.carousel-advertise>div:nth-child(4){
	width: 600px;
	background: url("../images/activity/hx.png") repeat-x;
	height: 2px;
	position: relative;
	top: -20px;
}

.carousel-advertise .images>li{
	position: absolute;
}

.carousel-advertise .arrow-right{
	position: absolute;
	top: 235px;
	color: #fff;
	font-size: 25px;
	left: 25px;
	opacity: 0.9;
}

.carousel-advertise .arrow-right span{
	font-size: 20px;
	margin-right: 20px;
	background: url("../images/activity/arrow_right.png");
	display: inline-block;
	height: 37px;
	line-height: 37px;
	width: 110px;
	text-align: center;
}

.activity-body{
	background: url("../images/activity/activity_bg.png") 0px 540px repeat-x;
}

.activity-info ul>li{
	float: left;
	width: 313px;
	margin-bottom: -8px;
}

.activity-info ul>li>div{
	padding: 10px;
	position: relative;
}

.activity-info .finish-percent{
	position: absolute;
	width: 255px;
	top: 44px;
	z-index: 100;
	height: 45px;
	background: url("../images/activity/finish_percent_bg.png") no-repeat;
	line-height: 45px;
	font-size: 25px;
	color: #45895b;
	padding-left: 25px;
}
.activity-info .tittle{
	position: absolute;
	top: 266px;
	font-size: 14px;
	width: 100%;
	font-weight: bold;
	padding-left: 20px;
	color: black;
}
.activity-body .page{
	padding-left: 13px;
}

.angel-carousel{
	margin-top: 30px;
}
.angel-carousel li{
	position: absolute;
}
.angel-carousel li>div{
	display: none;
}
.angel-carousel li>div:nth-child(1){
	display: block;
}

.angel-carousel li img{
	width: 940px;
}
.angel-carousel .images .tittle{
	color: #fff;
	position: absolute;
	top: 290px;
	width: 940px;
	padding-left: 130px;
	font-size: 28px;
	z-index: 100;
}

.shade{
	width: 100%;
	height: 70px;
	background: -ms-linear-gradient(top, #fff,black);        /* IE 10 */
	background:-moz-linear-gradient(top,#fff,black);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(black));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(black));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #fff, black);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #fff, black);  /*Opera 11.10+*/
}
.angel-carousel .shade{
	position: absolute;
	top: 268px;
	opacity: 0.4;
}
.angel-carousel{
	height: 340px;
	position: relative;
}

.angel-carousel .right{
	background: none;
}

.angel-carousel .arrow{
	width: 940px;
	height: 69px;
	z-index: 100;
	position: absolute;
	top: 148px;
}
.angel-carousel .arrow a{
	width: 21px;
}

.angel-carousel .arrow a:nth-child(1){
	float: left;
	margin-left: 20px;

}
.angel-carousel .arrow a:nth-child(2){
	float: right;
	margin-right: 20px;
}
.angel-info{
	background: url("../images/angel/body_bg.png");
}
.angel-info ul>li>div{
	box-shadow: 2px 2px 2px 2px gray;
	padding: 0px;
	width: 220px;
}.angel-info ul>li>div>img{
	 width: 220px;
 }
.angel-info ul>li{
	float:left;
	margin: 10px;
}
.angel-info>div{
	float: left;
	margin-top: 30px;
}
.angel-info>div:nth-child(1){
	width: 490px;
	padding-left: 125px;
	min-height: 680px;

}
.angel-info>div:nth-child(2){
	background: url("../images/angel/sx.png") repeat-y;
	width: 2px;
}
.angel-info>div:nth-child(3){
	width: 220px;
	background: url("../images/angel/zg_arrow_right.png") no-repeat;
	margin-top: 35px;
	margin-left: 15px;
}
#angel-page>div:nth-child(3){
	width: 940px; height: 120px;float: left;margin-top: -110px;margin-left: 132px;
}
.angel-info .tittle{
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}
.zgqs-tittle{
	color: rgb(255, 255, 255);
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	padding-left: 20px;
	margin-bottom: -8px;
}
.zgqs-content{
	padding: auto;
	padding-left: 15px;
}
#activity_info{
	background: url("../images/activity/activity_bg.png");
	margin-top: 120px;
}
#activity_info>div>div:nth-child(2){
	margin-top: 20px;
}
#activity_info>div>div:nth-child(2)>div:nth-child(1),#activity_info>div>div:nth-child(3)>div:nth-child(1),#activity_info>div>div:nth-child(4)>div:nth-child(1){
	background: url("../images/activity/arrow_right_green.png") 0px no-repeat;
	height: 29px;
	line-height: 29px;
	color: #fff;
	padding-left: 20px;
	width: 123px;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 35px;
}

#activity_info>div>div:nth-child(3)>div:nth-child(2){
	font-weight: bold;
}
#activity_info>div>div:nth-child(4)>div:nth-child(2),
#activity_info>div>div:nth-child(4)>div:nth-child(3),
#activity_info>div>div:nth-child(4)>div:nth-child(4){
	width: 300px;
	display: inline-block;
}

#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(2),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(4),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(4){
	color: #0b8749;
	padding-left: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}

#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(3),#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(3){
	background: url("../images/activity/round_green.png") 0px no-repeat;
	height: 161px;
	width: 161px;
	text-align: center;
	color: white;
	padding-top: 22px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(3) p,
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) p{
	font-size: 50px;
	height: 100px;
	line-height: 100px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(5) > div:nth-child(1) > div:nth-child(1),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(5) > div:nth-child(1) > div:nth-child(1){
	background: url("../images/activity/arrow_right_green.png") 10px no-repeat;
	width: 133px;
	height: 29px;
	margin-left: 0px;
	text-align: center;
	color: #fff;
	line-height: 29px;
	display: inline-block;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div:nth-child(5) > div:nth-child(1) > div:nth-child(2),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(5) > div:nth-child(1) > div:nth-child(2),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(5) > div:nth-child(2){
	display: inline-block;
	font-size: 14px;
	padding-left: 10px;
	position: relative;
	top: 7px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > img:nth-child(6),
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > img:nth-child(6){
	position: relative;
	top: -10px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(3){
	background: url("../images/activity/round_yello.png") 0px no-repeat;
	height: 182px;
	line-height: 182px;
	text-align: center;
	width: 161px;
	color: #fff;
	font-size: 50px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(2){
	color: #d3a72a;
	padding-left: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(4){
	color: #d3a72a;
	padding-left: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(5) > div:nth-child(1){
	background: url("../images/activity/arrow_right_yellow.png") 10px no-repeat;
	width: 150px;
	height: 29px;
	margin-left: 0px;
	text-align: center;
	color: #fff;
	line-height: 29px;
	display: inline-block;
}
#activity_info > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > img:nth-child(6){
	position: relative;
	top: -10px;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1){
	width: 150px;
	height: 100px;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1),
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1){
	vertical-align: top;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1){
	background: url("../images/lyjj/arrow_right_yellow.png") 0px no-repeat;
}
#lyjj-bg{
	background: url("../images/lyjj/gray_bg.png");
	margin-top: 50px;
}
#lyjj-page{
	position: relative;
	top: -40px;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > div:nth-child(1),
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) > div:nth-child(1){
	background: url("../images/lyjj/arrow_right_green.png") 0px no-repeat;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr > td:nth-child(1) > div:nth-child(1){
	height: 37px;
	width: 179px;
	line-height: 37px;
	color: #fff;
	text-align: left;
	font-weight: bold;
	padding-left: 20px;
	position: relative;
	top: -15px;
}
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1),
#lyjj-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(2){
	padding-top: 40px;
}
#lymall-bg{
	background: url("../images/lymall/gray_bg.png");
}
#lymall-page{
	padding-top: 60px;
	height: 2000px;
}
.recommend > ul:nth-child(2)>li{
	float: left;
	width: 180px;
	margin-left: 17px;
}
.recommend > ul:nth-child(2)>li img{
	width: 180px;
}
.recommend{
	background-color: #fff;
	width: 640px;
	padding-top: 5px;
	margin: 0px;
}
.recommend > div:nth-child(1){
	height: 80px;
	background: url("../images/lymall/blue_yellow.png") 0px no-repeat;
	width: 600px;
	margin-top: 10px;
}
.recommend > div:nth-child(1) span{
	display: block;
	float: left;
}
.recommend > div:nth-child(1) a{
	display: block;
	float: right;
	color: gray;
}
.recommend > div:nth-child(1) > img:nth-child(3){
	position: relative;
	top: 27px;
	left: -64px;
}

.recommend > ul:nth-child(2) li p:nth-child(2){
	height: 40px;
	line-height: 40px;
	color: gray;
	font-size: 14px;
}
.recommend > ul:nth-child(2) li p:nth-child(3){
	color: #0b8749;
	height: 30px;
	line-height: 30px;
	margin-top: -10px;
	margin-bottom: 25px;
	font-size: 14px;
}
.exchange{
	background-color: rgb(255, 255, 255);
	width: 278px;
	padding-top: 5px;
	margin-left: 20px;
}
.exchange > div:nth-child(1){
	height: 80px;
	background: url("../images/lymall/blue_yellow.png") 0px no-repeat;
	width: 230px;
	margin-top: 10px;
}
#lymall-page td{
	vertical-align: top;
}
#lymall-page > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) td{
	padding-top: 20px;
}
.exchange > div:nth-child(1) > img:nth-child(2){
	position: relative;
	top: 27px;
	left: -69px;
}
.exchange > ul:nth-child(2)>li div{
	float: left;
	width: 148px;
	line-height: 23px;
	font-size: 14px;
}
.exchange > ul:nth-child(2)>li div:nth-child(1){
	width: 85px;
}
.exchange > ul:nth-child(2)>li div:nth-child(4){
	color:#ff8b61;
}
.exchange > ul:nth-child(2)>li{
	height: 92px;
	padding: 15px;
	font-size: 10px;
}
.lydb,.zjmd,.lyhp{
	float: left;
	margin: 0px;
	background-color: #fff;
	margin-top: 30px;
}
.lydb{
	width: 640px;
}
.zjmd{
	width: 280px;
	margin-left: 20px;
	height: 433px;
}
.lyhp{
	width: 940px;
	height: 350px;
}
.lydb>div:nth-child(1),.zjmd>div:nth-child(1),.lyhp>div:nth-child(1){
	background: url("../images/lymall/blue_yellow.png") 0px 43px no-repeat;
	height: 45px;
	line-height: 45px;
}

.lydb > div:nth-child(1) > img:nth-child(2),.zjmd > div:nth-child(1) > img:nth-child(2),
.lyhp > div:nth-child(1) > img:nth-child(2){
	position: relative;
	top: 20px;
	left: -70px;
}

.lydb > div:nth-child(1){
	width: 600px;
}
.zjmd > div:nth-child(1){
	width: 230px;
}
.lyhp > div:nth-child(1){
	width: 900px;
}
.lydb > div:nth-child(1) > a:nth-child(3),.lyhp > div:nth-child(1) > a:nth-child(3){
	float: right;
	color: gray;
}
.lydb-block{
	width: 195px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.lydb-block>div{
	width: 180px;
	font-size: 14px;
}
.lydb-block>div span{
	font-size: 12px;
	display: inline-block;
	height: 60px;
}
.lydb-block>div span:nth-child(1){
	float: left;
}
.lydb-block>div span:nth-child(2){
	float: right;
}
.processing-all{
	background-color: #fdd35b;
	width: 100%;
	height: 10px;
	border-radius: 10px;
}
.processing-percent{
	background-color: #45895b;
	height: 10px;
	width: 0px;
	margin: 0px;
	border-radius: 10px;
}
.detail-btn{
	background: url("../images/lymall/rectangle_green.png") 0px no-repeat;
	width: 139px;
	height: 35px;
	display: block;
	clear: left;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-bottom: 15px;
}
.zjmd-block{
	height: 105px;
}
.zjmd-block div{
	float: left;
	width: 150px;
	line-height: 18px;
	font-size: 13px;
	margin-top: 10px;
}
.zjmd-block div span{
	color:#ff8b61;
}
.zjmd-block div:nth-child(1){
	width: 86px;
	margin-left: 20px;
	margin-top: 15px;
}
.lyhp-block{
	width: 285px;
	float: left;
	margin-left: 18px;
	margin-top: 20px;
}
.lyhp-block img{
	width: 293px;
}

.lyhp-block div:nth-child(2) span:nth-child(1){
	display: block;
	float: left;
}
.lyhp-block div:nth-child(2) span:nth-child(2){
	display: block;
	float: right;
	color: #0b8749;
}
.lyhp-block div:nth-child(2){
	padding: 20px 2px 0px 2px;
}
.goods-detail{
	background: url("../images/activity/arrow_right_green.png") 0px no-repeat;
	height: 29px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
	line-height: 29px;
	padding-left: 20px;
}
#lymall-info-page{
	background: url("../images/lymall/gray_bg.png");
}

.box {
	/* 可见视觉区域 */
	width: 180px;
	height: 210px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.zoom {
	/* 缩放的元素 */
	vertical-align: middle;
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}
.box:hover .zoom {
	/* hover放大 */
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	zoom: 1.05;
}
:root .box:hover .zoom {
	zoom: 1;
}
.middle {
	/* 垂直居中 */
	display: inline-block;
	width: 0; height: 100%;
	vertical-align: middle;
}
#login-dialog{
	display: none;
	height: 105px;
	width: 205px;
	background: #fff;
	border: 1px solid #cdcdcd;
	-webkit-box-shadow: 0 0 8px #cdcdcd;
	-moz-box-shadow: 0 0 8px #cdcdcd;
	box-shadow: 0 0 8px #cdcdcd;
	position: absolute;
	z-index: 10000;
	top: 84px;
	left: 800px;
	padding: 12px 0 20px;
}
#login-dialog input{
	width: 154px;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	font-weight: 400;
	font-family: "\u5b8b\u4f53";
	display: block;
	margin-bottom: 10px;
	padding-left: 8px;
	color: #333;
}
#header .navigation ul li #login-btn{
	margin: auto;
	color: white;
	display: block;
	width: 154px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	color: rgb(255, 255, 255);
	background-color: rgb(94, 186, 109);
	background-image: -webkit-linear-gradient(top, rgb(94, 186, 109), rgb(60, 160, 81));
	line-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(35, 148, 56);
}