<div id="fixed" style="right: 0px; top: 150px; position: fixed;"><a target="_blank" href="http://weibo.com/oxfam"
                                                                    class="xlwb"></a><a target="_blank"
                                                                                        href="http://t.qq.com/oxfam2010"
                                                                                        class="txwb"></a><a
        target="_blank" href="http://t.163.com/oxfam" class="wybk"></a><a target="_blank"
                                                                          href="http://t.sohu.com/user/index_nologin.jsp?uid=3412375"
                                                                          class="shbk"></a><a target="_blank"
                                                                                              href="http://622007864.qzone.qq.com/"
                                                                                              class="qqkj"></a><a
        target="_blank" href="http://www.kaixin001.com/oxfam" class="kxw"></a></div>