<div class="aboutleft">
    <div class="aboutleft1">
        <ul class="ul1">
            <!-- <li class="openli"><a href="field.php">项目领域</a>
                 <ul>
                     <li><a href="#">公益项目展示</a></li>
                     <li><a href="#">企业公益项目发布</a></li>
                     <li><a href="#">公益项目众筹</a></li>
                 </ul>
             </li>-->
            <li><a href="#">公益项目展示</a></li>
            <li><a href="#">企业公益项目发布</a></li>
            <li><a href="#">公益项目众筹</a></li>
            </li>
            <!--   <li><a href="thematic.php">专题</a>
               </li>-->
        </ul>
    </div>
</div>