[@ec_node code="focus";nod]
<div id="focus">
    <div class="box-focus">
        <div class="ctrl-panel">
            [@ec_info queryType="list" nodeId="${nod.id!}" groupName="";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <a class="m-page focus" href="javascript:;" rel="js_btn_list">${info_index + 1}</a>
            [/#list]
            [/#if]
            [/@ec_info]
        </div>

        <div class="scroll-wrap">
            <div class="scroll_box_content" rel="scroll_box_content" style="width: 5640px; left: -3760px;">
                [@ec_info queryType="list" nodeId="${nod.id!}" groupName="";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <div class="content_list">
                    <img  src="${info.fields['background']!}">
                </div>
                [/#list]
                [/#if]
                [/@ec_info]

            </div>
        </div>
    </div>
</div>
[/@ec_node]
								