.ctWrap{ /*padding-top: 30px;*/}
.ctWrap .gg{ z-index:99999;width: 360px; height: 248px; border: 1px solid #c8c8c8; background-color: #fff; position: fixed; right: 0; bottom: 0;}
.ctWrap .gg .tit{ height: 42px; font-size: 16px; font-weight: bold; text-indent: 42px; line-height: 42px; background:#f3f3f3 url(/jifen/images/msg/gg.png) no-repeat; position: relative;}
.ctWrap .gg .tit .close{ color: #969696; text-indent: 0; position: absolute; right: 15px; top: 0;}
.ctWrap .gg .tit .close:hover{ color: #474747;}
.ctWrap .gg .con{ margin: 0 20px; padding: 20px 0 18px; border-bottom: 1px solid #e9e9e9;min-height:120px;}
.ctWrap .gg .con img{ width: 102px; height: 120px; float: left; margin-right: 14px;}
.ctWrap .gg .con h6{ height: 22px; font-size: 18px; font-weight: normal; line-height: 22px; overflow: hidden;}
.ctWrap .gg .con h6 a{color: #474747;}
.ctWrap .gg .con p{ color: #969696; line-height: 22px; margin-top: 12px;}
.ctWrap .gg .con p a{ color: #969696;}
.ctWrap .gg .con p a:hover{ color: #ff4400;}
.ctWrap .gg .more{ float: right; line-height: 42px; padding-right: 20px;color: #969696;}
.ctWrap .gg .more:hover{color:#ff4400;}
.ctWrap .gg .nopic h6{ text-align: center;}
.login-in span.msgnum.dn{display:none;}