[@ec_node code="medias_right";nod]
<div class="right">
    <div class="media_nav">
        <ul>
            <li id="shipin" class="current"><a href="javascript:">${nod.fields['shiping']}</a></li>
            <li id="tupian"><a href="javascript:">${nod.fields['tupian']}</a></li></ul>
    </div>
    <div class="media_content">
        <!-- 视频 -->
        <dl class="mediaphoto shipin">
            <span class="prev"></span>
            <span class="next"></span>
            <div class="mediaphoto-list shipin">
                <ul>
                    [@ec_info queryType="list" nodeId="${nod.id!}" groupName="medias_right_shiping";list]
                    [#if list?? && (list?size >0)]
                    [#list list as info]
                    [#if info_index == 0]
                    [#assign class = "current"/]
                    [#else]
                    [#assign class = ""/]
                    [/#if]
                    <li>
                        <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                <param name="movie" value="${info.fields['shiping_src']}">
                                <param name="quality" value="high">
                                <param name="allowFullScreen" value="true">
                                <embed src="${info.fields['shiping_src']}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                            </object>
                        </div>
                        <div class="phototitle"><span>${info.fields['tittle']}</span><a class="more" href="http://v.youku.com/v_show/id_XNTcyMjExNjI4.html">详情</a></div>
                    </li>

                    [/#list]
                    [/#if]
                    [/@ec_info]
                </ul>
            </div>
        </dl>
        <!-- -->
        <!-- 图片 -->
        <dl class="mediaphoto tupian" style="display: none;">
            <span class="prev"></span>
            <span class="next"></span>
            <div class="mediaphoto-list tupian">
                <ul>
                    [@ec_info queryType="list" nodeId="${nod.id!}" groupName="medias_right_tupian";list]
                    [#if list?? && (list?size >0)]
                    [#list list as info]
                    [#if info_index == 0]
                    [#assign class = "current"/]
                    [#else]
                    [#assign class = ""/]
                    [/#if]

                    <li>
                        <div><img width="650" src="${info.fields['tupian']}"></div>
                        <div class="phototitle"><span>${info.fields['tittle']}</span><a class="more" href="info.php?cid=68&amp;id=892&amp;p=work">详情</a></div>
                    </li>
                    [/#list]
                    [/#if]
                    [/@ec_info]
                </ul>
            </div>
        </dl>
        <!-- -->

    </div>
</div>
[/@ec_node]