<div id="medias">
    <div class="left">
        <a href="http://www.oxfam.org.cn/www/grow/"><img src="uploads/image/20130502/1367508057.jpg"></a>
    </div>
    <div class="right">
        <div class="media_nav">
            <ul><li id="shipin" class="current"><a href="javascript:">视频</a></li><li id="tupian"><a href="javascript:">图片</a></li></ul>
        </div>
        <div class="media_content">
            <!-- 视频 -->
            <dl class="mediaphoto shipin">
                <span class="prev"></span>
                <span class="next"></span>
                <div class="mediaphoto-list shipin">
                    <ul>
                        <li>
                            <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                    <param name="movie" value="vcastr.swf?vcastr_file=uploads/media/20150112/1421046671.flv">
                                    <param name="quality" value="high">
                                    <param name="allowFullScreen" value="true">
                                    <embed src="vcastr.swf?vcastr_file=uploads/media/20150112/1421046671.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                                </object>
                            </div>
                            <div class="phototitle"><span>乐施会oxfam</span><a class="more" href="http://v.youku.com/v_show/id_XNTcyMjExNjI4.html">详情</a></div>
                        </li>
                        <li>
                            <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                    <param name="movie" value="vcastr.swf?vcastr_file=uploads/media/20150105/1420429159.flv">
                                    <param name="quality" value="high">
                                    <param name="allowFullScreen" value="true">
                                    <embed src="vcastr.swf?vcastr_file=uploads/media/20150105/1420429159.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                                </object>
                            </div>
                            <div class="phototitle"><span>粮食与你-失衡的世界粮食体系</span><a class="more" href="http://v.youku.com/v_show/id_XNDM2NTQ0MzI4.html">详情</a></div>
                        </li>
                        <li>
                            <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                    <param name="movie" value="vcastr.swf?vcastr_file=uploads/media/20130623/1371930663.flv">
                                    <param name="quality" value="high">
                                    <param name="allowFullScreen" value="true">
                                    <embed src="vcastr.swf?vcastr_file=uploads/media/20130623/1371930663.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                                </object>
                            </div>
                            <div class="phototitle"><span>Rubik's Cube</span><a class="more" href="http://v.youku.com/v_show/id_XNTcyMjExNjI4.html">详情</a></div>
                        </li>
                        <li>
                            <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                    <param name="movie" value="vcastr.swf?vcastr_file=uploads/media/20130502/1367511491.flv">
                                    <param name="quality" value="high">
                                    <param name="allowFullScreen" value="true">
                                    <embed src="vcastr.swf?vcastr_file=uploads/media/20130502/1367511491.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                                </object>
                            </div>
                            <div class="phototitle"><span>有关妇女和巧克力的真相</span><a class="more" href="http://v.youku.com/v_show/id_XNTIzNzg5NDIw.html">详情</a></div>
                        </li>
                        <li>
                            <div style=" width:620px; height:303px; padding:10px 25px 10px 25px;">
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="303" width="620">
                                    <param name="movie" value="vcastr.swf?vcastr_file=uploads/media/20130609/1370762896.flv">
                                    <param name="quality" value="high">
                                    <param name="allowFullScreen" value="true">
                                    <embed src="vcastr.swf?vcastr_file=uploads/media/20130609/1370762896.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="303">

                                </object>
                            </div>
                            <div class="phototitle"><span>视频: 汶川地震五周年乐施会重建工作和人道救援工作经验分享</span><a class="more" href="http://v.youku.com/v_show/id_XNTUxMzk0Mzg4.html">详情</a></div>
                        </li>

                    </ul>
                </div>
            </dl>
            <!-- -->
            <!-- 图片 -->
            <dl class="mediaphoto tupian" style="display: none;">
                <span class="prev"></span>
                <span class="next"></span>
                <div class="mediaphoto-list tupian">
                    <ul>
                        <li>
                            <div><img width="650" src="uploads/image/20130430/1367345019.jpg"></div>
                            <div class="phototitle"><span>棉被、帐篷、厨卫包、卫生包：乐施会首批救灾物资运往灾区</span><a class="more" href="info.php?cid=68&amp;id=892&amp;p=work">详情</a></div>
                        </li>
                        <li>
                            <div><img width="650" src="uploads/image/20130430/1367341773.jpg"></div>
                            <div class="phototitle"><span>乐施会彝良地震灾区冬令救助：给贫困老人一份温暖</span><a class="more" href="info.php?cid=67&amp;id=854&amp;p=work">详情</a></div>
                        </li>
                        <li>
                            <div><img width="650" src="uploads/image/20130430/1367341504.jpg"></div>
                            <div class="phototitle"><span>乐施会支持北京工友之家举办2013年打工春晚</span><a class="more" href="info.php?cid=69&amp;id=853&amp;p=work">详情</a></div>
                        </li>

                    </ul>
                </div>
            </dl>
            <!-- -->

        </div>
    </div>

</div>