<div class="aboutleft">
    <div class="aboutleft1">
        <ul class="ul1">
            <li style="border-top: medium none;" class="openli"><a href="#">机构新闻</a>
                <ul><li><a href="#">农村发展与灾害管理</a></li>
                    <li><a href="#">城市生计</a></li>
                    <li><a href="#">四川地震救援及重建</a></li>
                    <li><a href="#">基础教育</a></li>
                    <li><a href="#">社会性别与公民社会发展</a></li>
                    <li><a href="#">农业与扶贫政策</a></li>
                    <li><a href="#">企业社会责任</a></li>
                    <li><a href="#">气候变化与贫困</a></li>
                    <li><a href="#">中国与发展中国家</a></li>
                </ul></li>
            <li><a href="#">媒体报道</a>
            </li>

        </ul>
    </div>
</div>