<!DOCTYPE html>
<html lang="en">
<head>
    <title>${info.fields["tittle"]!}</title>
    [#include "../meta.html"/]
    [#include "../css.html"/]
    [#include "../js.html"/]
</head>

<body>
[#include "../header/header.html"/]

[#include "tittle.html"/]
<div id="info">
    [#include "left.html"/]

    <div class="aboutright">
        <div class="detail">

            <div class="content">
                ${info.fields['content']!}
                <!-- 组图区域开始-->
                <!-- 组图区域结束 -->
            </div>

        </div>
    </div>
</div>

[#include "../footer/footer.html"/]
<script type="text/javascript" src="${res!}/resources/js/index.js"></script>
<script type="text/javascript" charset="utf-8"
        src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>


</body>
</html>