<div class="footer" style="margin:auto;width: 940px; clear: both;">
[@ec_node code="footer";nod]
<div class="footer_bg">
    <div>
        <div style=" height: 50px;width: 550px;margin: auto;">
        <ul class="dh">
            [@ec_info queryType="list" nodeId="${nod.id!}" groupName="footer_info";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <li style="float: left;width: 110px;">
                <h4>
                    <a href="${info.fields['url']!}" style="color: gray;">${info.fields['tittle']}</a>

                    [#if info?size > 1 && ((info_index + 1) < list?size)]
                    <img src="${res!}/resources/images/footer_split.png" style="margin-left: 17px;margin-top: -5px;"/>
                    [/#if]
                </h4>
            </li>
            [/#list]
            [/#if]
            [/@ec_info]
        </ul>
        </div>
        <br/>
        <div class="copyright" style="text-align: center;">
            <p> ${nod.fields['copy_right']!}</p>
        </div>
    </div>
</div>
<script>

</script>
[/@ec_node]
</div>