[@ec_node code="footer";nod]
<div class="footer_bg">
    <div id="bottom">
        <ul class="dh">
            [@ec_info queryType="list" nodeId="${nod.id!}" groupName="footer_info";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <li>
                <h4>${info.fields['tittle']}</h4>
                <ul>
                    [@ec_node code="footer_info";nod2]
                    [@ec_info queryType="list" nodeId="${nod2.id!}" groupName="${info.fields['sub_info_group']}";list]
                    [#if list?? && (list?size >0)]
                    [#list list as info2]
                    <li><a href="#">${info2.fields['tittle']}</a></li>
                    [/#list]
                    [/#if]
                    [/@ec_info]
                    [/@ec_node]
                </ul>
            </li>
            [/#list]
            [/#if]
            [/@ec_info]
        </ul>
        <ul class="site1">
            <li><a href="offices.php" style="margin-left: 0px;">${nod.fields['contact_us']!}</a></li><li><a href="#">${nod.fields['web_guid']!}</a></li><li><a href="search.php" style="background: none;">${nod.fields['search']!}</a></li></ul>
        <div class="copyright">
            ${nod.fields['copy_right']!}<br><p><a target="_blank" href="#"><img src="${res!}/resources/images/logo_wisegiving.png"></a></p>
        </div>
    </div>
</div>
[/@ec_node]