<div class="footer_bg">
    <div id="bottom">

        <ul class="dh">
            <li>
                <h4>关于乐施会</h4>
                <ul>
                    <li><a href="history.php">发展</a></li><li><a href="offices.php">中国各地办公室</a></li><li><a href="member.php">乐施会成员机构</a></li><li><a href="cbkwlist.php?id=144&amp;p=about">策略规划</a></li><li><a href="annualreport.php">年报</a></li><li><a href="awards.php">奖项</a></li></ul>
            </li>
            <li>
                <h4>我们的工作</h4>
                <ul>
                    <li><a href="workareas.php">工作地区</a></li><li><a href="field.php">项目领域</a></li><li><a href="story.php">项目故事</a></li><li><a href="thematic.php">专题</a></li></ul>
            </li>
            <li>
                <h4>你的参与</h4>
                <ul>
                    <li><a href="list.php?id=34">热门活动</a></li><li><a href="list.php?id=33">志愿者活动及招募</a></li><li><a href="job.php">工作机会</a></li></ul>
            </li>
            <li>
                <h4>项目申请</h4>
                <ul>
                    <li><a href="outline.php">项目概述与指引</a></li><li><a href="aboutinfo.php?id=30&amp;p=apply">项目建议书</a></li></ul>
            </li>
            <li style="width:150px; overflow:hidden;">
                <h4>出版刊物</h4>
                <ul>
                    <li><a href="annualreport.php">年报</a></li><li><a href="cbkwlist.php?id=18&amp;p=cbkw">报告</a></li><li><a href="books.php">乐施丛书</a></li></ul>
            </li>
        </ul>
        <ul class="site1">
            <li><a href="offices.php" style="margin-left: 0px;">联络我们</a></li><li><a href="sitemap.php">网站指南</a></li><li><a href="search.php" style="background: none;">搜寻</a></li></ul>
        <div class="copyright">
            © 版权所有 2006-2009 乐施会     <br>云南网警ICP备案53011203702008<br><br><p><a target="_blank" href="http://www.wisegiving.org.hk/tc/index.aspx"><img src="${res!}/resources/images/logo_wisegiving.png"></a></p>
        </div>
    </div>
</div>