<div class="logo"><a href="/"><img src="${nod.fields['logo']!}"></a></div>
<div class="navigation">
    <ul>

        [#if member??]
        <li><a class="size txt_l" href="javascript:void(0);" title="18px" id="profile-btn">${member.loginId!''}</a>
            <div id="profile" style="display: none;">
                <div class="eepau-login-info">
                    <div><img src="${res!}/resources/images/login_info/yonghu.png" class="eepau-login-info-icon"/><span class="eepau-login-info-name">邮箱: ${member.loginId!''}@163.com</span><input type="hidden" value="${member.email!''}"/></div>
                    <hr/>
                    <div><img src="${res!}/resources/images/login_info/dianhua-1.png" class="eepau-login-info-icon"/><span class="eepau-login-info-name">电话: ${member.loginId!''}</span></div>
                    <hr/>
                    <div><img src="${res!}/resources/images/login_info/jifen.png" class="eepau-login-info-icon"/><span class="eepau-login-info-name">绿芽积分: 100</span></div>
                    <hr/>
                    <div><img src="${res!}/resources/images/login_info/dianhua.png" class="eepau-login-info-icon"/><span class="eepau-login-info-name">状态: 未认证<span class="eepau-login-info-blue">（前往认证）</span></span></div>
                    <hr/>
                    <div id="logout"><img src="${res!}/resources/images/login_info/tuichu.png" class="eepau-login-info-icon"/><span class="eepau-login-info-name">退出账号</span></div>

                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $("#profile-btn").click(function () {
                        $("#profile").show()
                    });
                    $("#profile").mouseleave(function () {
                        $(this).hide();
                    });
                    $("#logout").click(function(){
                        location.href = "${path!}/frontend/logout";
                    });
                });
            </script>
        </li>


        [#else]
        <li>
            <a href="javascript:void(0);" title="登录" id="eepau-login">登录</a>
        </li>
        <li><a href="javascript:void(0);" title="注册" id="eepau-register">注册</a></li>
        [/#if]
        <li>您好，欢迎参与生态保护行动&nbsp;&nbsp;</li>

    </ul>

    <div class="site-search">
        <input class="search" id="search" name="search" type="text" value="输入关键字"
               onfocus="if(this.value=='输入关键字'){this.value='';}"><a
            onclick="if(document.getElementById('search').value!='输入关键字'){location.href='search.php?searchkey='+document.getElementById('search').value;}"
            href="#"><img src="${res!}/resources/images/search-btn.png"></a>
    </div>


    <script type="text/javascript">
        $(function () {

            /*    var display = false;
             $("#login").click(function(){
             if(display){
             $("#login-dialog").hide();
             display = false;
             }else {
             $("#login-dialog").show();
             display = true;
             }

             });*/
            $("#eepau-login").click(function () {
                showLogin();
            });
            $("#eepau-register").click(function () {
                showRegister();
            });
        });
    </script>
</div>