<div class="logo"><a href="/"><img src="${nod.fields['logo']!}"></a></div>
<div class="navigation">
    <ul>
        [#if member??]
        <li><a class="size txt_l" href="javascript:void(0);" title="18px" id="profile-btn">${member.loginId!''}</a>
            <div id="profile" style="display: none;">
                <div style="padding: 10px">
                用户名:${member.loginId!''}<br/>
                邮箱:${member.email!''}<br/>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                   $("#profile-btn").click(function () {
                       $("#profile").show()
                   });
                    $("#profile-btn").mouseleave(function () {
                        $("#profile").hide();
                    });
                });
            </script>
        </li>
        <li><a href="${path!}/frontend/logout" title="18px">登出</a></li>
        [#else]
        <li><a  href="${path!}/login.do" title="18px">登录</a></li>
        [/#if]
        <li>您好，欢迎参与生态保护行动&nbsp;&nbsp;</li>
    </ul>

    <div class="site-search">
        <input class="search" id="search" name="search" type="text" value="输入关键字"
               onfocus="if(this.value=='输入关键字'){this.value='';}"><a
            onclick="if(document.getElementById('search').value!='输入关键字'){location.href='search.php?searchkey='+document.getElementById('search').value;}"
            href="#"><img src="${res!}/resources/images/search-btn.png"></a>
    </div>
</div>