<!DOCTYPE html>
<html lang="en">
<head>
    <title>${info.fields["tittle"]!}</title>
    [#include "../meta.html"/]
    [#include "../css.html"/]
    [#include "../js.html"/]
</head>

<body>
[#include "../header/header.html"/]

<div id="lymall-info-page">
<div class="container">
    <div style="width: 30%;display: inline-block;"><img src="${info.fields['image']!}"/></div>
    <div style="width: 60%;display: inline-block;margin-left: 30px;margin-top: 30px;">
        <div style="padding-bottom: .2em;line-height: 1;font-size: 25px;font-weight: 700;color: #000;margin: 30px;">${info.fields['tittle']!}</div>
        <div style="height: 40px;"><span>兑换价格：</span><span style="color: #0b8749;font-size: 25px;">${info.fields['price']!}</span></div>
        <div style="height: 40px;"><span>市场价格：</span><span style="color: #0b8749;font-size: 25px;"><s>${info.fields['market_price']!}</s></span></div>
        <div style="height: 40px;"><span>库存情况：</span><span style="color: #0b8749;font-size: 25px;">无货</span></div>
        <div><a href="#">立即兑换</a></div>
    </div>
    <div>
        <div class="goods-detail">商品详情</div>
        <div>${info.fields["describe"]!}</div>
    </div>

</div>
</div>
[#include "../footer/footer.html"/]
<script type="text/javascript">

</script>
</body>
</html>
