[@ec_node code="special";nod]

[@ec_info_page  nodeId="${nod.id!}" groupName="default" pageNum="${RequestParameters['pageNum']!1}" pagesize = "${RequestParameters['pageSize']!3}";page]

[#assign list = page.datas/]
[#if list?? && (list?size >0)]
[#list list as info]
<div class="single-info">
    <img src="${info.fields['image']!}"/>
    <p>${info.fields['tittle']!}</p>

    [#if info_index < (list?size -1) ]
    <img src="${res!}/resources/images/special/hx.png" class="hx"/>
    [/#if]
</div>
[/#list]
[/#if]


<div class="page" style="clear: both">
    <ul style="height:40px;margin: auto;width: 40%;">
        [#if end>0]
        [#if current>1]
        <li class="prev"><a href="javascript:void(0);" data="${current - 1 }">上一页</a></li>
        [/#if]
        [#list 1..end as i]
        [#if i == current]
        <li><a href="javascript:void(0);" class="current" data="${i}">${i}</a></li>
        [#else]
        <li><a href="javascript:void(0);" data="${i}">${i}</a></li>
        [/#if]
        [/#list]
        [#if end>current]
        <li class="next"><a href="javascript:void(0);" data="${current + 1 }">下一页</a></li>
        [/#if]
        <li class="sx"></li>
        [/#if]
    </ul>
</div>

[/@ec_info_page]
[/@ec_node]

<script>
    $(function () {
        $(".page li>a").click(function () {
            var pageNum = $(this).attr("data");
            var url = "${path!}/special_info_page?pageNum=" + pageNum;
            $.get(url, function (data) {
                $("#info-page-data").html(data);
            });
        });
    });
</script>


