<!DOCTYPE html>
<html lang="zh">
<head>
    <title>${node.fields["tittle"]!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

<div class="container">
    <div class="head">
        <img src="${node.fields['head_image']!}">
    </div>
    <div class="left">
        <ol>
            [#if node.fields['menu_1']?? && node.fields['menu_1'] != ""]
            <li content-id="introduction" class="active">${node.fields['menu_1']!}</li>
            [/#if]
            [#if node.fields['menu_2']?? && node.fields['menu_2'] != ""]
            <li content-id="expert-consultant" id="zjgw">${node.fields['menu_2']!}</li>
            [/#if]
            [#if node.fields['menu_3']?? && node.fields['menu_3'] != ""]
            <li content-id="law-rule">${node.fields['menu_3']!}</li>
            [/#if]
        </ol>
    </div>
    <div class="right">
        <div class="content" id="introduction">
            <div >
                ${node.fields['menu1_detail']}
            </div>
        </div>

        <div class="content" id="expert-consultant" style="display: none;">
            [#include "about/about_info_page.html"]
        </div>

        <div class="content" id="law-rule" style="display: none;">
            <div >
                ${node.fields['menu3_detail']}
            </div>
        </div>

    </div>
</div>

[#include "footer/footer.html"/]
<script type="text/javascript">
    $(".container .left li").click(function () {
        var targetId = $(this).attr("content-id");
        $("#" + targetId).show().siblings().hide();
        $(this).addClass("active").siblings().removeClass("active");
    });


</script>

[#if RequestParameters['t']??]
     <script type="text/javascript">
            $(function(){
                $("#zjgw").click();
            });
     </script>
[/#if]
</body>
</html>
								