<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.fields["tittle"]!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

<div class="container">
    <div class="head">
        <img src="${node.fields['head_image']!}">
    </div>
    <div class="left">
        <ol>
            <li content-id="introduction">${node.fields['menu_1']!}</li>
            <li content-id="expert-consultant">${node.fields['menu_2']!}</li>
            <li content-id="law-rule">${node.fields['menu_3']!}</li>
        </ol>
    </div>
    <div class="right">
        <div class="content" id="introduction">
            <div class="single-info">
                ${node.fields['menu1_detail']}
            </div>
        </div>

        <div class="content" id="expert-consultant" style="display: none;">
            [#include "about/about_info_page.html"]
        </div>

        <div class="content" id="law-rule" style="display: none;">
            <div class="single-info">
                ${node.fields['menu3_detail']}
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(".container .left li").click(function () {
        var targetId = $(this).attr("content-id");
        $("#" + targetId).show().siblings().hide();
    });

</script>
</body>
</html>
								