<!DOCTYPE html>
<html lang="zh">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body class="activity-body">
[#include "header/header.html"/]

<div class="container" id="activity-page">

    <div class="head carousel-advertise">
        <div>
            <ul class="images">
                [@ec_info queryType="list" nodeId="${node.id!}" groupName="电脑轮播";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <li>
                    <a href="${info.uri!}">
                        <div style="position: relative;padding: 0px;">
                            <img src="${info.fields['image']!}"/>
                            <div class="arrow-right"><span>${info.fields['finishPercent']!}</span>${info.fields['tittle']!}
                            </div>
                        </div>
                    </a>
                </li>
                [/#list]
                [/#if]
                [/@ec_info]
            </ul>
        </div>
        <div>
            <img src="${res!}/resources/images/activity/sx.png">
        </div>
        <div>
            <div>
                <img src="${node.fields['advertise_1']!}">
            </div>
            <div>
                <img src="${node.fields['advertise_2']!}">
            </div>
        </div>
        <div></div>
    </div>
    <div style="float: left;width: 940px;" id="news-info">
        <ul>
            [@ec_info queryType="list" nodeId="${node.id!}" groupName="content";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <li>
                <div class="avator"><img src="${info.fields['image']!}"/></div>
                <div class="content">
                    <p class="tittle">${info.fields['tittle']!}</p>
                    <div class="detail">${info.fields['describe']!}</div>
                    <span class="date">${info.fields['update_date']!} 更新</span>
                </div>
                <div class="hx"></div>
            </li>
            [/#list]
            [/#if]
            [/@ec_info]
        </ul>
    </div>

    <div id="info-page-data">
        [#include "activity/activity_info_page.html"/]

    </div>
</div>


[#include "footer/footer.html"/]

<script type="text/javascript">
    $(function () {

        var startIndex = 0;
        var endIndex = $(".images li").size() - 1;

        setInterval(function () {
            $(".images li>div").fadeOut();
            $(".images li>div").eq(startIndex).fadeIn();

            if (startIndex == endIndex) {
                startIndex = 0;
            } else {
                startIndex++;
            }

        }, 6000);
    });

</script>
</body>
</html>
