<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body class="angel-body">
[#include "header/header.html"/]

<div class="container" id="angel-page">

    <div class="angel-carousel">
        <div>
            <ul class="images">
                [@ec_info queryType="list" nodeId="${node.id!}" groupName="carousel";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <li>
                    <div style="position: relative;padding: 0px;">
                        <img src="${info.fields['image']!}"/>
                        <div class="tittle">${info.fields['tiitle']!}</div>
                        <div class="shade"></div>
                    </div>
                </li>
                [/#list]
                [/#if]
                [/@ec_info]
            </ul>
        </div>
        <div class="arrow">
            <a class="left" href="javascript:void(0);"><img src="${res!}/resources/images/angel/carosel_left.png"/></a>
            <a class="right" href="javascript:void(0);"><img
                    src="${res!}/resources/images/angel/carosel_right.png"/></a>
        </div>

    </div>

    <div class="angel-info" style="margin: auto">
        <div>
            <ul>
                [@ec_info queryType="list" nodeId="${node.id!}" groupName="default";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <li>
                    <div>
                        <img src="${info.fields['image']!}">
                        <div class="tittle">
                            ${info.fields['tiitle']!}
                        </div>
                    </div>
                </li>
                [/#list]
                [/#if]
                [/@ec_info]

            </ul>
        </div>
        <div></div>
        <div>
            <div class="zgqs-tittle">${node.fields['zgqs_tittle']!}</div>
            <img src="${res!}/resources/images/angel/zg_top.png">
            <div class="zgqs-content">${node.fields['zgqs_content']!}</div>
            <img src="${res!}/resources/images/angel/zg_bottom.png">
        </div>


    </div>
    <div>
        <div class="page">
            <ul>
                <li class="prev"><a href="#">上一页</a></li>
                <li><a href="#" class="current">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&hellip;</a></li>
                <li><a href="#">6</a></li>
                <li class="next"><a href="#">下一页</a></li>
                <li class="sx"></li>
            </ul>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(function () {

        var startIndex = 0;
        var endIndex = $(".images li").size() - 1;

        $(".images li>div").fadeOut();
        $(".images li>div").eq(startIndex).fadeIn();

        function carousel() {
            $(".images li>div").fadeOut();
            $(".images li>div").eq(startIndex).fadeIn();

            if (startIndex == endIndex) {
                startIndex = 0;
            } else {
                startIndex++;
            }
        }

        var carouselTimer = setInterval(carousel, 6000);

        $(".left").click(function () {
            clearInterval(carouselTimer);
            if (startIndex > 0) {
                startIndex--;
            } else {
                startIndex = endIndex;
            }
            $(".images li>div").fadeOut();
            $(".images li>div").eq(startIndex).fadeIn();
            carouselTimer = setInterval(carousel, 6000);
        });

        $(".right").click(function () {
            clearInterval(carouselTimer);
            if (startIndex < endIndex) {
                startIndex++;
            } else {
                startIndex = 0;
            }
            $(".images li>div").fadeOut();
            $(".images li>div").eq(startIndex).fadeIn();
            carouselTimer = setInterval(carousel, 6000);
        });

        //动态设置高度
        var height = $(".angel-info ul>li").size() / 2 * 240;
        $(".angel-info").css("height", (height + 60) + "px");
        $(".angel-info>div").eq(1).css("height", height + "px");
    });

</script>
</body>
</html>
