<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.fields["tittle"]!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]
[#include "focus/focus.html"/]

<div id="news">
    <div class="news-left" id="news-carousel" style="width: 564px;margin: 0px;">
        [@ec_node code="news";nod]
        <div class="head">
            <div class="area-1">
                <div class="area-2"><span>${nod.name!}</span></div>
            </div>
        </div>
        <div class="content">
            <ul class="content-ul">
                [@ec_info queryType="list" nodeId="${nod.id!}" groupName="default";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <li>
                    <div style="padding: 15px;">
                        <h3>${info.fields['tittle']}</h3>
                        <img src="${info.fields['image']!}">
                        <div>
                            ${info.fields['describe']}
                            <a href="${info.uri!}">[阅读更多]</a>
                        </div>
                    </div>
                </li>
                [/#list]
                [/#if]
                [/@ec_info]

            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
        [/@ec_node]
    </div>
    <div class="news-right">
        <div class="head">
            <div class="head1"><a table-id="recent">活动回顾</a></div>
            <div class="head2"><a table-id="review">最新动态</a></div>
        </div>
        <div class="content">
            [@ec_node code="work";nod]
            [@ec_info_page  nodeId="${nod.id!}" groupName="activity_info" pageNum="1" pagesize = "6";page]
            <table class="recent-news" id="recent">
                <tbody>
                [#assign list = page.datas/]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <tr>
                    <td>${info.name!}</td>
                    <td>${info.updateDate?string("yyyy-MM-dd")}</td>
                </tr>
                [/#list]
                [/#if]

                </tbody>
            </table>
            [/@ec_info_page]
            [/@ec_node]
            [@ec_node code="move_angel";nod]
            [@ec_info_page  nodeId="${nod.id!}" groupName="default" pageNum="1" pagesize = "6";page]
            <table class="activity-review" style="display:none;" id="review">
                <tbody>
                [#assign list = page.datas/]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <tr>
                    <td>${info.name!}</td>
                    <td>${info.updateDate?string("yyyy-MM-dd")}</td>
                </tr>
                [/#list]
                [/#if]
                </tbody>
            </table>
            [/@ec_info_page]
            [/@ec_node]
        </div>
        <div class="footer">
            <a href="${path!}/activity"><img src="${res!}/resources/images/news_more.png"/>&nbsp;&nbsp;&nbsp;浏览更多</a>
        </div>
    </div>
</div>

<div id="medias">
    <div class="left">
        <a href="http://www.oxfam.org.cn/www/grow/"><img src="${node.fields['medias_image']!}"></a>
    </div>
    <div class="right">
        <div class="medias_nav">
            <ul>
                <li class="video" media-id="video"><a href="javascript:" >视频</a></li>
                <li class="image" media-id="image"><a href="javascript:" >图片</a></li>
            </ul>
        </div>
        <div class="media_content">
            <!-- 视频 -->
            <dl class="mediaphoto " id="video">
                <div class="mediaphoto-list shipin">
                    <ul>
                        <li>
                            <div style=" width:620px; height:409px; margin-left: 0px">
                                <video src="${res!}/resources/zgm.mp4" controls="controls">
                                    不支持
                                </video>
                            </div>
                            <div class="video-tittle"><span>这是视频描述</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </dl>
            <!-- -->
            <!-- 图片 -->
            <dl class="mediaphoto" id="image" style="display: none;">
                [@ec_node code="image";nod]
                <div class="mediaphoto-list tupian">
                    <ul>
                        [@ec_info queryType="list" nodeId="${nod.id!}" groupName="default";list]
                        [#if list?? && (list?size >0)]
                        [#list list as info]
                        [#if info_index == 0]
                        [#assign class = "current"/]
                        [#else]
                        [#assign class = ""/]
                        [/#if]

                        <li>
                            <div><img width="650" src="${info.fields['image']!}"></div>
                            <div class="photo-tittle"><span>${info.fields['tittle']!}</span>
                            </div>
                        </li>
                        [/#list]
                        [/#if]
                        [/@ec_info]
                    </ul>
                </div>
                [/@ec_node]
            </dl>
            <!-- -->

        </div>
    </div>
</div>



<div id="sua" style="width:100%;">
    [@ec_node code="work";nod]
    <div style="margin: auto;width: 940px;">
        <div class="head">
            <div class="area-1">
                <div class="area-2"><span>${nod.name!}</span></div>
            </div>
        </div>
        <div class="sua-content" id="sua-carousel" style="margin: 0px;width:940px">

            <div class="content">
                <ul class="content-ul">
                    [@ec_info queryType="list" nodeId="${nod.id!}" groupName="activity_info";list]
                    [#if list?? && (list?size >0)]
                    [#list list as info]
                    <li>
                        <a href="${info.uri}">
                        <div style="padding: 15px;">
                            <img src="${info.fields['image']!}">
                            <div class="finish-percent">${info.fields['finishPercent']!}</div>
                            <div class="tittle" style="color: black;">
                                ${info.fields['tittle']!}
                            </div>
                        </div>
                        </a>
                    </li>
                    [/#list]
                    [/#if]
                    [/@ec_info]

                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
            [/@ec_node]
        </div>
        <div class="lets-go">我要发起行动</div>
    </div>

</div>

<div id="lyhp" style="margin: 30px auto auto;width: 940px;">
    [@ec_node code="lymall";nod]
    <div class="head">
        <div class="area-1">
            <div class="area-2"><span>${nod.name!}</span></div>
        </div>
        <div class="moore-goods">更多商品</div>
    </div>
    <div class="lyhp-content"  style="margin: 0px;width:940px">
        <div class="content">
            <ul class="content-ul">
                [@ec_info queryType="list" nodeId="${nod.id!}" groupName="default";list]
                [#if list?? && (list?size >0)]
                [#list list as info]
                <li uri="${info.uri!}" style="cursor: pointer;">
                    <div style="padding: 15px;">
                        <img src="${info.fields['image']!}">
                        <div class="describe">${info.fields['tittle']!}</div>
                        <div class="tittle">
                            ${info.fields['price']!}
                        </div>
                    </div>
                </li>
                [/#list]
                [/#if]
                [/@ec_info]

            </ul>
        </div>

        [/@ec_node]
    </div>
    <div class="footer" style="margin:0px;width: 940px;height: 100px;"></div>
</div>


<div id="xdts">
<div  style="margin: 30px auto auto;width: 940px;">
    <div class="head">
        <div class="area-1">
            <div class="area-2"><span>行动天使</span></div>
        </div>
    </div>
    <div class="xdts-content"  style="margin: 0px;width:940px">
        <div class="content">
            <p>行动组织</p>
            <ul class="content-company-ul" style="height: 150px;">
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/company_icon/huawei.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/company_icon/zxyh.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/company_icon/omega.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/company_icon/cocole.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/company_icon/five_star.png">
                    </div>
                </li>

            </ul>
            <p>绿芽天使</p>
            <ul class="content-angel-ul">
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/lyts_default.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/lyts_default.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/lyts_default.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/lyts_default.png">
                    </div>
                </li>
                <li>
                    <div style="padding: 15px;">
                        <img src="${res!}/resources/images/lyts_default.png">
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <div class="footer" style="margin:0px;width: 940px;"></div>
</div>
</div>

<script type="text/javascript" src="${res!}/resources/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
                new Carousel("#news-carousel", 2).start();
                new Carousel("#sua-carousel", 3).start();
                $(".news-right .head a").click(function(){
                    var id = $(this).attr("table-id");
                    $("#" + id).show().siblings().hide();
                });

                $(".medias_nav li").click(function(){
                    var id = $(this).attr("media-id");
                    $("#" + id).show().siblings().hide();
                });

                $(".lyhp-content ul li").click(function(){
                    location.href = $(this).attr("uri");
                });
            }
    );
</script>

</body>
</html>
								