<script type="text/javascript" src="${res!}/resources/plugins/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="${res!}/resources/js/focus.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jScrollPane.js"></script>
<script type="text/javascript" src="${res!}/resources/js/carousel.js"></script>
