<script type="text/javascript" src="${res!}/resources/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="${res!}/resources/js/focus.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="${res!}/resources/js/jScrollPane.js"></script>
<script type="text/javascript" src="${res!}/resources/js/carousel.js"></script>
