<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    <style>
        #header {
            height: 200px;
        }
        #lyjj-page {
            position: relative;
            top: 0px;
        }
        #lyjj-bg{
            margin-top: 0px;
        }
    </style>
    [#include "js.html"/]
</head>

<body class="lyjj-body">
[#include "header/header.html"/]


<div id="lyjj-bg">
<div class="container" id="lyjj-page" style="min-height: 540px;">

    <img src="${res!}/resources/images/lyjj/jszhong.jpg" width="100%" style="margin-top: 1px; height: 538px;"/>
   [#-- <table>
        <tbody>
        <tr>
            <td>
                <div>
                    关于绿芽基金
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    绿芽基金简介
                </div>
            </td>
            <td>
                <div>${node.fields['describe']!}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    相关文件
                </div>
            </td>
            <td>
               <img src="${node.fields['reference_file_1']!}">
                &nbsp;&nbsp;
               <img src="${node.fields['reference_file_2']!}">
            </td>
        </tr>
        </tbody>
    </table>
    --]
</div>
</div>

    [#include "footer/footer.html"/]
</body>
</html>
