<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body class="lyjj-body">
[#include "header/header.html"/]


<div id="lyjj-bg">
<div class="container" id="lyjj-page">

    <table>
        <tbody>
        <tr>
            <td>
                <div>
                    关于绿芽基金
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    绿芽基金简介
                </div>
            </td>
            <td>
                <div>${node.fields['describe']!}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    相关文件
                </div>
            </td>
            <td>
               <img src="${node.fields['reference_file_1']!}">
                &nbsp;&nbsp;
               <img src="${node.fields['reference_file_2']!}">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>
