<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    <style>
        ul li{
            cursor: pointer;
        }
    </style>
    [#include "js.html"/]
</head>

<body class="lymall-body">
[#include "header/header.html"/]

<div id="lymall-bg">
    <div class="container" id="lymall-page">
        <table style="margin: 0px;">
            <tr>
                <td><img src="${node.fields['adertise1']!}" width="640"/></td>
                <td><img src="${node.fields['advertise2']!}" height="280" style="margin-left: 20px;"></td>
            </tr>
            <tr>
                <td>
                    <div class="recommend">
                        <div><span>推荐商品</span><a href="#">更多>></a>
                            <img src="${res!}/resources/images/lymall/green_hx.png">
                        </div>
                        <ul>
                            [@ec_info queryType="list" nodeId="${node.id!}" groupName="recommend";list]
                            [#if list?? && (list?size >0)]
                            [#list list as info]
                            <li uri="${path!}${info.uri}">
                                <img src="${info.fields['image']!}"/>
                                <p>${info.fields['tittle']!}</p>
                                <p>${info.fields['price']!}</p>
                            </li>
                            [/#list]
                            [/#if]
                            [/@ec_info]
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="exchange">
                        <div><span>热门兑换</span>
                            <img src="${res!}/resources/images/lymall/green_hx.png">
                        </div>
                        <ul>
                            [@ec_info queryType="list" nodeId="${node.id!}" groupName="exchange";list]
                            [#if list?? && (list?size >0)]
                            [#list list as info]
                            <li uri="${path!}${info.uri}">
                                <div><img src="${info.fields['exchange_image']!}"/></div>

                                <div>${info.fields['exchange_name']!}</div>
                                <div>${info.fields['exchange_des']!}</div>
                                <div>${info.fields['exchange_stress']!}</div>
                            </li>
                            [/#list]
                            [/#if]
                            [/@ec_info]
                        </ul>
                    </div>

                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="lydb">
            <div>
                <span>绿芽夺宝</span>
                <img src="${res!}/resources/images/lymall/green_hx.png">
                <a href="#">更多>></a>
            </div>
            [@ec_info queryType="list" nodeId="${node.id!}" groupName="lydb";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <div class="lydb-block">
                <div><img src="${res!}/resources/images/lymall/lydb.png"></div>
                <div>（第109期）魔兽世界部......</div>
                <div>总需：${info.fields['lydb_require']!0}人</div>
                <div class="processing-all">
                    <div class="processing-percent" style="width: ${info.fields['lydb_percent']!0};"></div>
                </div>
                <div><span>${info.fields['lydb_join']!0}人<br/>已参与人次</span><span>${info.fields['lydb_lack']!0}人<br/>剩余人次</span></div>
                <a class="detail-btn">查看详情</a>
            </div>
            [/#list]
            [/#if]
            [/@ec_info]
        </div>
        <div class="zjmd">
            <div>
                <span>中奖名单</span>
                <img src="${res!}/resources/images/lymall/green_hx.png">
            </div>
            [@ec_info queryType="list" nodeId="${node.id!}" groupName="zjmd";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
            <div class="zjmd-block">
                <div><img src="${info.fields['zjmd_image']!0}"></div>
                <div>${info.fields['zjmd_name']!0}<span>${info.fields['zjmd_people']!0}</span></div>
                <div>${info.fields['zjmd_get']!0}</div>
                <div>${info.fields['zjmd_get_name']!0}</div>
            </div>
            [/#list]
            [/#if]
            [/@ec_info]
        </div>
        <div class="lyhp">
            <div>
                <span>绿优好品</span>
                <img src="${res!}/resources/images/lymall/green_hx.png">
                <a href="#">更多>></a>
            </div>
            [@ec_info queryType="list" nodeId="${node.id!}" groupName="lyhp";list]
            [#if list?? && (list?size >0)]
            [#list list as info]
             <div class="lyhp-block">
                <div> <img src="${info.fields['lyhp_image']!0}"></div>
                 <div><span>${info.fields['lyhp_name']!}</span><span>${info.fields['lyhp_price']!0}</span></div>
             </div>
            [/#list]
            [/#if]
            [/@ec_info]
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var height = ($(".recommend ul li").size() / 3) * $(".recommend ul li").eq(0).height() + 20;
        $(".recommend ul").height(height);

        $("ul li").click(function () {
            location.href = $(this).attr("uri");
        });
    })

</script>
</body>
</html>
