<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.name!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

[#include "news/tittle.html"/]
<div id="info">
    [#include "news/left.html"/]

    <div class="aboutright">
        <div class="detail">
            <!-- -->
            <div class="abouttitle1"><div class="abouttitle2">机构新闻</div><div class="bshare-custom abouttitle3"><div class="bsPromo bsPromo2"></div><span>分享到：</span><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span style="float: none;" class="BSHARE_COUNT bshare-share-count">0</span></div></div>
            <!-- -->
            <form method="post">
                <p class="newsyear"><b>年份</b>
                    <select name="nianfen" onchange="self.location.href=options[selectedIndex].value">
                        <option value="?n=0">全部</option>
                        <option value="?n=2016">2016</option>
                        <option value="?n=2015">2015</option>
                        <option value="?n=2014">2014</option>
                        <option value="?n=2013">2013</option>
                        <option value="?n=2012">2012</option>
                        <option value="?n=2011">2011</option>
                        <option value="?n=2010">2010</option>
                        <option value="?n=2009">2009</option>
                        <option value="?n=2008">2008</option>
                    </select>
                    <b>分类</b>
                    <select name="nianfen" onchange="self.location.href=options[selectedIndex].value">
                        <option value="?f=">请选择</option>
                        <option value="?f=67">农村发展与灾害管理</option>
                        <option value="?f=69">城市生计</option>
                        <option value="?f=68">四川地震救援及重建</option>
                        <option value="?f=70">基础教育</option>
                        <option value="?f=72">社会性别与公民社会发展</option>
                        <option value="?f=74">农业与扶贫政策</option>
                        <option value="?f=76">企业社会责任</option>
                        <option value="?f=75">气候变化与贫困</option>
                        <option value="?f=149">中国与发展中国家</option>
                    </select>
                </p>
            </form>
            <div class="newslist">
                <ul>
                    <li><font class="date">2016-06-23</font><p><a href="info.php?cid=23&amp;id=1742&amp;p=news">永远怀念考克斯</a></p></li>
                    <li><font class="date">2016-06-21</font><p><a href="info.php?cid=69&amp;id=1738&amp;p=news">《怒放的地丁花---家政工口述史》分享会在北京举行</a></p></li>
                    <li><font class="date">2016-06-17</font><p><a href="info.php?cid=23&amp;id=1733&amp;p=news">乐施会为贵州洪涝灾民提供紧急救援</a></p></li>
                    <li><font class="date">2016-06-17</font><p><a href="info.php?cid=70&amp;id=1732&amp;p=news">第四届全国乡土教材研讨会在四川阿坝州召开</a></p></li>
                    <li><font class="date">2016-06-15</font><p><a href="info.php?cid=23&amp;id=1731&amp;p=news">关于乐施会内地官方网站及社交媒体账号的声明</a></p></li>
                    <li><font class="date">2016-05-30</font><p><a href="info.php?cid=23&amp;id=1728&amp;p=news">构筑公平世界主题研讨会在北京召开  </a></p></li>
                    <li><font class="date">2016-05-20</font><p><a href="info.php?cid=23&amp;id=1726&amp;p=news">关于有人假冒乐施会名义在中国内地开展“理财互助”活动的声明</a></p></li>
                    <li><font class="date">2016-05-20</font><p><a href="info.php?cid=75&amp;id=1724&amp;p=news">2016年第一轮气候谈判在波恩召开           厄尔尼诺影响持续  气候资金需求紧迫</a></p></li>
                    <li><font class="date">2016-05-04</font><p><a href="info.php?cid=69&amp;id=1721&amp;p=news">“纵横计划”征集项目</a></p></li>
                    <li><font class="date">2016-04-22</font><p><a href="info.php?cid=75&amp;id=1720&amp;p=news">《巴黎协定》签署，将承诺付诸实行 </a></p></li>
                    <li><font class="date">2016-04-22</font><p><a href="info.php?cid=23&amp;id=1719&amp;p=news">厄瓜多尔地震造成严重伤亡 乐施会赶赴当地救援</a></p></li>
                    <li><font class="date">2016-03-04</font><p><a href="http://www.oxfam.org.cn/info.php?cid=152&amp;id=1709&amp;p=work">“中非对话平台”正式启动</a></p></li>
                </ul>
            </div>
            <br>
            <div class="pages"><ul><li>上一页</li><li>|</li><li>1</li><li>|</li><li><a href="?page=2">2</a></li><li>|</li><li><a href="?page=3">3</a></li><li>|</li><li><a href="?page=4">4</a></li><li>|</li><li><a href="?page=5">5</a></li><li>|</li><li><a href="?page=6">6</a></li><li>|</li><li><a href="?page=7">7</a></li><li>|</li><a href="javascript:;">...</a><li><a href="?page=2">下一页</a></li></ul></div></div>

    </div>
</div>

[#include "footer/footer.html"/]
<script type="text/javascript" src="${res!}/resources/js/index.js"></script>
<script type="text/javascript" charset="utf-8"
        src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>


</body>
</html>