<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.fields["tittle"]!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

<div class="container" id="news-page">
    <div class="head">
        <div id="news-carousel">
            <div class="content">
                <ul class="content-ul">
                    [@ec_info queryType="list" nodeId="${node.id!}" groupName="置顶轮播";list]
                    [#if list?? && (list?size >0)]
                    [#list list as info]
                    <li>
                        <a href="${info.uri!}">
                        <div style="position: relative;padding: 0px;">
                            <img src="${info.fields['image']!}"/>
                        </div>
                        </a>
                    </li>
                    [/#list]
                    [/#if]
                    [/@ec_info]
                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
        </div>
        <div class="sx"></div>
        <div class="advertise">
            <div>
            <img src="${node.fields['advertise_1']!}">
            </div>
            <div>
            <img src="${node.fields['advertise_2']!}">
            </div>
        </div>
        <div class="hx"></div>
    </div>
    <div style="float: left;" id="news-info">
        [#include "news/news_info_page.html"/]
    </div>

</div>


[#include "footer/footer.html"/]

<script type="text/javascript">
    $(function () {
        new Carousel("#news-carousel", 1).start();
    });
</script>
</body>
</html>
