<!DOCTYPE html>
<html lang="en">
<head>
    <title>${node.fields["tittle"]!}</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

<div style="width: 940px">
    <form>
        <div>
            <label>用户名：</label><input type="text" name="loginId"/>
            <label>密码：</label> <input type="password" name="password"/>
        </div>
    </form>
</div>
<script type="text/javascript">

</script>

</body>
</html>
