<!DOCTYPE html>
<html lang="en">
<head>
    <title>注册</title>
    [#include "meta.html"/]
    [#include "css.html"/]
    <style>
        table td{
            height: 70px;
            font-size: 30px;
            text-align: right;
        }

        input{
            height: 36px;
            font-size: 30px;
        }
        input[type='button']{
            display: block;
            width: 100%;
            height: 50px;
        }
    </style>
    [#include "js.html"/]
</head>

<body>
[#include "header/header.html"/]

<div style="width: 940px;">
    <form >
        <div>
            <table style="width: 550px;">
                <tbody>
                <tr>
                    <td><label>用户名：</label></td>
                    <td><input type="text" name="loginId" id="loginId"/></td>
                </tr>
                <tr>
                    <td><label>姓：</label></td>
                    <td><input type="text" name="lastName" id="lastName"/></td>
                </tr>
                <tr>
                    <td><label>名：</label></td>
                    <td><input type="text" name="firstName" id="firstName"/></td>
                </tr>
                <tr>
                    <td><label>邮箱：</label></td>
                    <td><input type="text" name="email" id="email"/></td>
                </tr>
                <tr>
                    <td><label>密码：</label><br/></td>
                    <td><input type="password" name="password" id="password"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="登录" id="login-btn"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {

        $("#login-btn").click(function() {
            var loginId = $("#loginId").val();
            var password = $("#password").val();
            var email = $("#email").val();
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            if (loginId == null || password == null || email == null ||firstName == null || lastName == null) {
                alert("用户名、密码、邮箱、姓、名不能为空");
            } else {
                var uri = "${path!}/frontend/register"
                $.post(uri, {loginId: loginId, password: password,email:email,lastname:lastName,firstname:firstName}, function (result) {

                        var jsonData = JSON.parse(result);
                        alert("注册成功");
                        location.href = "${path!}/login";


                });
            }
        });
    })


</script>

</body>
</html>
